<app-loader *ngIf="loading"></app-loader>
<h2 class="pt-3 fs-1">Approval Matrix Master - Contracts</h2>

<div class="table-responsive p-md-5 p-3">
  <app-table [data]="approvalMatrixContracts" [displayedColumns]="displayedColumns" [columnsInfo]="columnsInfo">
  </app-table>
</div>

<app-pagination [maxPage]="maxPage" [records]="this.approvalMatrixContracts.length" [pageNumbers]="pageNumbers"
  [GetPage]="GetPage.bind(this)"></app-pagination>

<ng-template #actionTemplateRef let-row>
  <i class="fa-regular fa-pen-to-square icon" data-bs-toggle="modal" data-bs-target="#approval-matrix-contract-modal"
    (click)="GetContract(row.masterApprovalMatrixContractId, true)"></i>
  <i class="fa-regular fa-eye icon" data-bs-toggle="modal" data-bs-target="#approval-matrix-contract-modal"
    (click)="GetContract(row.masterApprovalMatrixContractId, false)"></i>
</ng-template>

<app-approver-matrix-contract-modal [GetApprovalMatrixContract]="GetApprovalMatrixContract.bind(this)"
  [approvalMatrixContract]="approvalMatrixContract" [isEdit]="isEdit"></app-approver-matrix-contract-modal>