@if(checkLogin()) {
<aside class="offcanvas offcanvas-start offcanvas-width" tabindex="-1" id="sideBar" aria-labelledby="sideBarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sideBarLabel">Hello, {{username}}!</h5>
        <div class="d-flex">
            <button type="button" class="btn n-btn" data-bs-dismiss="offcanvas" routerLink="/notifications">
                <span *ngIf="totalNotifications > 0" class="n-num"></span>
                <i class="fa-solid fa-bell fs-5"></i>
            </button>
            <button type="button" class="btn bulb" data-bs-dismiss="offcanvas" aria-label="Close" (click)="toggleBulb(!this.lightMode)">
                <i class="fa-solid fa-lightbulb fs-5"></i>
            </button>
            <button type="button" class="btn" data-bs-dismiss="offcanvas" aria-label="Close">
                <i class="fa-solid fa-xmark fs-5"></i>
            </button>
        </div>
    </div>
    <div class="offcanvas-body">
        <a class="btn sideBar-nav-links" data-bs-dismiss="offcanvas" routerLink="/dashboard">Dashboard</a>
        <a class="btn sideBar-nav-links mt-2" *ngIf="checkUserRole()" data-bs-dismiss="offcanvas" routerLink="/masters">Masters</a>
        <a class="btn sideBar-nav-links mt-2" data-bs-dismiss="offcanvas" routerLink="/contracts">Contracts</a>
        <a class="btn sideBar-nav-links mt-2" *ngIf="checkUserRole()" data-bs-dismiss="offcanvas"
            routerLink="/classifiedContracts/allContracts">Contracts-Classified</a>
        <a class="btn sideBar-nav-links mt-2" *ngIf="checkUserRole()" data-bs-dismiss="offcanvas"
            routerLink="/reports">Report</a>
    </div>
</aside>
}