.offcanvas-width {
    width: 100%;
  }
  
@media (min-width: 320px) {
.offcanvas-width {
    width: 300px;
}
}
.navbar{
    box-shadow: 0 1px 5px #5f5fee;
}
.sidebar-toggle-btn:hover{
    background-color: #5f5fee;
    border-color: whitesmoke;
    color: whitesmoke;
    border-radius: 5px;
}
.sidebar-toggle-btn {
    color: rgba(95, 95, 238);
    background-color: whitesmoke;
    border-color: #5f5fee;
}
.sideBar-nav-links{
display: block;
text-decoration: none;
border: 2px solid rgb(95, 95, 238);
color: rgba(95, 95, 238, 1);
width: 100%;
}
.sideBar-nav-links:hover{
    color: whitesmoke;
    background-color: rgba(95, 95, 238, 1);
}