<a class="sidebar-toggle-btn btn btn-primary" data-bs-toggle="offcanvas" href="#sideBar" role="button" aria-controls="offcanvasExample">
    <i class="fa-solid fa-bars-staggered"></i> Menu
</a>
  
<aside class="offcanvas offcanvas-start offcanvas-width" tabindex="-1" id="sideBar" aria-labelledby="sideBarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sideBarLabel">Side Bar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <a class="btn sideBar-nav-links" data-bs-dismiss="offcanvas" routerLink="/dashboard">Dashboard</a>
        <a class="btn sideBar-nav-links mt-2" data-bs-dismiss="offcanvas" href="#">Masters</a>
    </div>
</aside>