<div class="card login-form-card" style="width: 18rem;">
    <div class="card-body">
        <h3 class="card-title login-title mb-3">Login</h3>
        <form class="needs-validation" [formGroup]="loginForm" (ngSubmit)="loginUser()" >
        <div class="mb-3">
            <div class="field-container">
                <span class="error" *ngIf="email?.hasError('required') && (email?.dirty || email?.touched)">*Required</span>
                <span class="error" *ngIf="email?.hasError('email') && (email?.dirty || email?.touched)">Invalid email</span>
                <div class="input-group">
                    <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                    <input type="email" name="email" class="form-control" id="email" placeholder="Email" formControlName="email">
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="field-container">
                <span class="error" *ngIf="password?.hasError('required') && (password?.dirty || password?.touched)">*Required</span>
                <span class="error" *ngIf="password?.hasError('pattern') && (password?.dirty || password?.touched)">A-Z,a-z,0-9,&#64;#$%^&-+=() length:4-10</span>
                <div class="input-group">
                    <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                    <input [type]="loginPasswordEyeOpen ? 'text' : 'password'" name="password" class="form-control" id="password" placeholder="Password" formControlName="password">
                </div>
            </div>
        </div>
        <div class="mb-3 form-check">
            <label class="form-check-label" for="showPassword">
                <input type="checkbox" class="form-check-input" id="showPassword" (change)="loginPasswordEyeToggle()">
                Show password
            </label>
        </div>
        <button type="submit" class="btn button">Login</button>
        </form>
    </div>
</div>