.login-form-card{
    box-shadow: 5px 5px 15px rgb(126, 126, 221);
}
.login-title{
    text-align: center;
    color: rgb(95, 95, 238);
}
.fields-error{
    color: red;
}
.button{
    width: 100%;
    background-color: #5f5fee;
    color: whitesmoke;
}
.button:hover{
    background-color: rgb(136, 136, 243);
    color: whitesmoke;
}
.login-password-field-container{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-group-text{
  background-color: whitesmoke;
}
/* Hide the default "show password" icon in Edge */
input[type="password"]::-ms-reveal {
    display: none;
  }
  
  /* Hide the default "show password" icon in other browsers */
  input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none;
  }
  
  /* Hide the default icon on Firefox */
  input[type="password"]::-moz-placeholder {
    display: none;
  }
  input[type="checkbox"]:checked{
    background-color: #5f5fee;
  }
  input:focus{
    box-shadow: 0 0 5px #5f5fee;
  }