<div class="card login-form-card" style="width: 18rem;">
    <div class="card-body">
        <h3 class="card-title login-title mb-3">Login</h3>
        <form #loginForm = "ngForm" (ngSubmit)="loginUser(loginForm)">
        <div class="mb-3">
            <input type="email" name="email" #email = "ngModel" class="form-control" id="email" placeholder="Email" required [(ngModel)] = loginModel.email>
        </div>
        <div class="mb-3">
            <input [type]="loginPasswordEyeOpen ? 'text' : 'password'" name="password" #password = "ngModel" class="form-control" id="password" placeholder="Password" required [(ngModel)] = loginModel.password>
        </div>
        <div class="mb-3 form-check">
            <label class="form-check-label" for="showPassword">
                <input type="checkbox" class="form-check-input" id="showPassword" (change)="loginPasswordEyeToggle()">
                Show password
            </label>
        </div>
        <button type="submit" class="btn button">Login</button>
        </form>
    </div>
</div>