<div id="contracts-screen">
    <a routerLink="/contracts/addNewContract">
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
               Create New Contract
               <i class="fa-solid fa-file-circle-plus icon"></i>
            </div>
        </div>
    </a>
    <a routerLink="/contracts/allContracts">
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
               Contracts List - All
               <i class="fa-solid fa-users icon"></i>
            </div>
        </div>
    </a>
    <a routerLink="/contracts/activeContracts">
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
               Contracts List - Active
               <i class="fa-solid fa-landmark icon"></i>
            </div>
        </div>
    </a>
    <a routerLink="/masters/terminatedContracts">
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
               Contracts List - Terminated
               <i class="fa-solid fa-file-excel icon"></i>
            </div>
        </div>
    </a>
    <a routerLink="/masters/pendingContracts">
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
               Contracts List - Pending Approval
              <i class="fa-solid fa-file-invoice icon"></i>
            </div>
        </div>
    </a>
</div>