<div id="contracts-screen">
    <a routerLink="/contracts/allContracts">
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
               Contracts List - All
               <i class="fa-solid fa-file-contract icon"></i>
            </div>
        </div>
    </a>
    <a (click)="goToTable(contractStatu.Active)">
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
               Contracts List - Active
               <i class="fa-solid fa-chart-line icon"></i>
            </div>
        </div>
    </a>
    <a (click)="goToTable(contractStatu.Terminated)">
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
               Contracts List - Terminated
               <i class="fa-solid fa-file-excel icon"></i>
            </div>
        </div>
    </a>
    <a (click)="goToTable(contractStatu.Pending_Approval)">
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
               Contracts List - Pending Approval
              <i class="fa-solid fa-hourglass-end icon"></i>
            </div>
        </div>
    </a>
    <a (click)="goToTable(contractStatu.Expired)">
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
               Contracts List - Expired
              <i class="fa-solid fa-delete-left icon"></i>
            </div>
        </div>
    </a>
</div>