.modal-header{
    border:2px solid var(--table-side-border-color);
    background-color: var(--btn-theme-toggle-color);
}
.modal-title{
    color: var(--btn-theme-toggle-color);
}
.modal-body{
    background-color: var(--filter-theme-toggle-color);
}
.close-btn{
    border-color: whitesmoke;
    color: whitesmoke;
}
.close-btn:hover{
    background-color: whitesmoke;
    color: var(--btn-theme-toggle-color);
}
.dropdown-input{
    background-color: white;
    border-right: 0;
}
.dropdown-icon{
    background-color: white;
    border-left: 0;
}
.dropdown-btn{
    text-align: start;
    border-color: #dee2e6;
}
.dropdown-btn:hover{
    color: var(--btn-theme-toggle-color);
    border-color: var(--btn-theme-toggle-color) ;
}
.form-control:focus{
    box-shadow: none;
    border-color: #dee2e6;
}
.add-btn {
    color: var(--btn-theme-toggle-color);
    background-color: whitesmoke;
    border-color: var(--btn-theme-toggle-color);
}
.add-btn:hover{
    background-color: var(--btn-theme-toggle-color);
    border-color: whitesmoke;
    color: whitesmoke;
    border-radius: 5px;
}