<div class="modal fade" id="approval-matrix-contract-modal" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <form class="modal-content">
            <div class="modal-header d-flex justify-content-between">
                <h1 style="color: whitesmoke;" class="modal-title fs-5 fw-bolder">{{isEdit ? "Edit" : "View"}}</h1>
                <button type="reset" class="btn close-btn" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeEditApproverCollapses()"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                        <input #editApproverName1 [class]="isEdit?'form-control dropdown-input':'form-control'"
                            placeholder="Select approver 1" data-bs-toggle="collapse"
                            data-bs-target="#approver1-dropdown" aria-expanded="false"
                            value="{{approvalMatrixContract?.approverName1}}" [readonly]="isEdit"
                            [disabled]="!isEdit" />
                        <span *ngIf="isEdit" class="input-group-text dropdown-icon" data-bs-toggle="collapse"
                            data-bs-target="#approver1-dropdown"><i class="fa-solid fa-angle-down"></i></span>
                    </div>
                    <div *ngIf="isEdit" #editApproverCollapse1 id="approver1-dropdown" class="collapse">
                        <div class="card card-body">
                            <input type="text" class="form-control" placeholder="Search.."
                                (input)="textChangeApprover(approvalMatrixContract != undefined ? approvalMatrixContract.departmentId : 0,$event,1)">
                            <input #editApproverId1 type="hidden" value="{{approvalMatrixContract?.approverId1}}">
                            <button *ngFor="let approver of approvers1" class="dropdown-btn btn" type="button"
                                (click)="fillApprover(approver.employeeCode,approver.employeeName,1)">({{approver.employeeCode}})
                                {{approver.employeeName}}</button>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                        <input #editApproverName2 [class]="isEdit?'form-control dropdown-input':'form-control'"
                            placeholder="Select approver 2" data-bs-toggle="collapse"
                            data-bs-target="#approver2-dropdown" aria-expanded="false"
                            value="{{approvalMatrixContract?.approverName2}}" [readonly]="isEdit"
                            [disabled]="!isEdit" />
                        <span *ngIf="isEdit" class="input-group-text dropdown-icon" data-bs-toggle="collapse"
                            data-bs-target="#approver2-dropdown"><i class="fa-solid fa-angle-down"></i></span>
                    </div>
                    <div *ngIf="isEdit" #editApproverCollapse2 id="approver2-dropdown" class="collapse">
                        <div class="card card-body">
                            <input type="text" class="form-control" placeholder="Search.."
                                (input)="textChangeApprover(approvalMatrixContract != undefined ? approvalMatrixContract.departmentId : 0,$event,2)">
                            <input #editApproverId2 type="hidden" value="{{approvalMatrixContract?.approverId2}}">
                            <button *ngFor="let approver of approvers2" class="dropdown-btn btn" type="button"
                                (click)="fillApprover(approver.employeeCode,approver.employeeName,2)">({{approver.employeeCode}})
                                {{approver.employeeName}}</button>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                        <input #editApproverName3 [class]="isEdit?'form-control dropdown-input':'form-control'"
                            placeholder="Select approver 3" data-bs-toggle="collapse"
                            data-bs-target="#approver3-dropdown" value="{{approvalMatrixContract?.approverName3}}"
                            [readonly]="isEdit" [disabled]="!isEdit" />
                        <span *ngIf="isEdit" class="input-group-text dropdown-icon" data-bs-toggle="collapse"
                            data-bs-target="#approver3-dropdown"><i class="fa-solid fa-angle-down"></i></span>
                    </div>
                    <div *ngIf="isEdit" #editApproverCollapse3 id="approver3-dropdown" class="collapse">
                        <div class="card card-body">
                            <input type="text" class="form-control" placeholder="Search.."
                                (input)="textChangeApprover(approvalMatrixContract != undefined ? approvalMatrixContract.departmentId : 0,$event,3)">
                            <input #editApproverId3 type="hidden" value="{{approvalMatrixContract?.approverId3}}">
                            <button *ngFor="let approver of approvers3" class="dropdown-btn btn" type="button"
                                (click)="fillApprover(approver.employeeCode,approver.employeeName,3)">({{approver.employeeCode}})
                                {{approver.employeeName}}</button>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
                        <input #editNumberOfDays class="form-control" placeholder="Select number of days" type="number"
                            value="{{approvalMatrixContract != undefined ? approvalMatrixContract.numberOfDays : '0'}}"
                            [disabled]="!isEdit" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button *ngIf="isEdit" type="button" class="btn add-btn add-modal-btn" data-bs-dismiss="modal"
                    (click)="editApproverMatrixContractSubmit(approvalMatrixContract != undefined ? approvalMatrixContract.masterApprovalMatrixContractId : 0)">Save</button>
                <button type="reset" class="btn btn-outline-danger" data-bs-dismiss="modal"
                    (click)="closeEditApproverCollapses()">{{isEdit ? "Cancel" : "Close"}}</button>
            </div>
        </form>
    </div>
</div>