.modal-header{
    border-color: #5f5fee;
    background-color: #5f5fee;
}
.modal-title{
    color: #5f5fee;
}
.close-btn{
    border-color: whitesmoke;
    color: whitesmoke;
}
.close-btn:hover{
    background-color: whitesmoke;
    color: #5f5fee;
}
.dropdown-input{
    background-color: white;
    border-right: 0;
}
.dropdown-icon{
    background-color: white;
    border-left: 0;
}
.dropdown-btn{
    text-align: start;
    border-color: #dee2e6;
}
.dropdown-btn:hover{
    color: #5f5fee;
    border-color: #5f5fee ;
}
.form-control:focus{
    box-shadow: none;
    border-color: #dee2e6;
}
.add-btn {
    color: rgba(95, 95, 238);
    background-color: whitesmoke;
    border-color: #5f5fee;
}
.add-btn:hover{
    background-color: #5f5fee;
    border-color: whitesmoke;
    color: whitesmoke;
    border-radius: 5px;
}