h2 {
    color: var(--heading-font-color);
    font-weight: 600;
    text-align: center;
}

.icon{
    cursor: pointer;
    display: inline-block;
    margin-left: 1rem;
}
.icon:hover{
    color: #5f5fee;
}
.modal-header{
    border: 2px solid var(--table-side-border-color);
    background-color: var(--btn-theme-toggle-color);
}
.modal-title{
    color: var(--btn-theme-toggle-color);
}
.modal-body{
    background-color: var(--filter-theme-toggle-color);
}
.close-btn{
    border-color: whitesmoke;
    color: whitesmoke;
}
.close-btn:hover{
    background-color: whitesmoke;
    color: var(--btn-theme-toggle-color);
}
.dropdown-input{
    background-color: white;
    border-right: 0;
}
.dropdown-icon{
    background-color: white;
    border-left: 0;
}
.dropdown-btn{
    text-align: start;
    border-color: #dee2e6;
}
.dropdown-btn:hover{
    color: var(--btn-theme-toggle-color);
    border-color: var(--btn-theme-toggle-color) ;
}
.form-control:focus{
    box-shadow: none;
    border-color: #dee2e6;
}
.add-btn {
    color: var(--btn-theme-toggle-color);
    background-color: whitesmoke;
    border-color: var(--btn-theme-toggle-color);
    margin: 2px;
}
.add-btn:hover{
    background-color: var(--btn-theme-toggle-color);
    border-color: whitesmoke;
    color: whitesmoke;
    border-radius: 5px;
}
.add-header {
    color: whitesmoke;
    font-weight: 600;
}
.classifiedImg{
    min-width: 60px;
    width: 3vw;
    aspect-ratio: 1/1;
}
.printPdf,.margin-right{
    margin-right: 1rem;
}
.filters{
    display: flex;
    justify-content: flex-start;
    align-items: end;
    flex-wrap: wrap;
}
.filters > div{
    margin-right: 1rem;
}
.card{
    background-color: var(--filter-theme-toggle-color);
    border-width: 0px;
}
.no-records {
    color: var(--heading-font-color);
}