.h1-color{
    color: whitesmoke;
}
.modal-header {
    border: 2px solid var(--table-side-border-color);
    background-color: var(--btn-theme-toggle-color);
}

.modal-title,
.color {
    color: var(--btn-theme-toggle-color);
}
.modal-body{
    background-color: var(--filter-theme-toggle-color);
}
.close-btn {
    border-color: whitesmoke;
    color: whitesmoke;
}

.close-btn:hover {
    background-color: whitesmoke;
    color: var(--btn-theme-toggle-color);
}

.form-control:focus {
    box-shadow: none;
    border-color: #dee2e6;
}

.add-btn {
    color: var(--btn-theme-toggle-color);
    background-color: whitesmoke;
    border-color: var(--btn-theme-toggle-color);
    margin: 3px;
}

.add-btn:hover {
    background-color: var(--btn-theme-toggle-color);
    border-color: whitesmoke;
    color: whitesmoke;
    border-radius: 5px;
}

.prog.step-label {
    display: flex;
    flex-direction: column;
}

.step-label {
    font-size: 12px;
    text-align: center;
    color: var(--btn-theme-toggle-color);
    margin-bottom: 4px;
}

.progress-scroll-container {
    max-height: 30vh;
    overflow-y: auto;
    padding: 1rem;
}