<div class="table-responsive p-md-5 p-3">
    <table mat-table [dataSource]="dataSource" matSort class="table table-striped table-bordered align-middle mat-elevation-z8">
      <ng-container matColumnDef="departmentName">
        <th class="mat-header-cell" mat-header-cell *matHeaderCellDef mat-sort-header style="border-left-color: #5f5fee;">Department</th>
        <td mat-cell *matCellDef="let contract">{{ contract.departmentName }}</td>
      </ng-container>
    
      <ng-container matColumnDef="approverName1">
        <th class="mat-header-cell" mat-header-cell *matHeaderCellDef mat-sort-header>Approver 1</th>
        <td mat-cell *matCellDef="let contract">{{ contract.approverName1 }}</td>
      </ng-container>
    
      <ng-container matColumnDef="approverName2">
        <th class="mat-header-cell" mat-header-cell *matHeaderCellDef mat-sort-header>Approver 2</th>
        <td mat-cell *matCellDef="let contract">{{ contract.approverName2 }}</td>
      </ng-container>
  
      <ng-container matColumnDef="approverName3">
        <th class="mat-header-cell" mat-header-cell *matHeaderCellDef mat-sort-header>Approver 3</th>
        <td mat-cell *matCellDef="let contract">{{ contract.approverName3 }}</td>
      </ng-container>
  
      <ng-container matColumnDef="action">
        <th class="mat-header-cell" mat-header-cell *matHeaderCellDef style="border-right-color: #5f5fee;">Action</th>
        <td mat-cell *matCellDef="let contract">
          <i class="fa-regular fa-pen-to-square icon" data-bs-toggle="modal" data-bs-target="#approval-matrix-contract-modal" (click)="GetContract(contract.masterApprovalMatrixContractId, true)"></i>
          <i class="fa-regular fa-eye icon" data-bs-toggle="modal" data-bs-target="#approval-matrix-contract-modal" (click)="GetContract(contract.masterApprovalMatrixContractId, false)"></i>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="thead"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="border-color: #dee2e6;"></tr>
    </table>
    
    <app-approver-matrix-contract-table-paginator
    [maxPage] = "maxPage"
    [records] = "records"
    [pageNumbers] = "pageNumbers"
    [GetPage] = "GetPage"
    ></app-approver-matrix-contract-table-paginator>
  </div>
