/* .containerfirst {
    display: flex;
    align-items: center;
    gap: 1rem; 
    padding: 0.625rem;
    margin: 0 10px; */
    /* flex-wrap: wrap;  */
/* } */
.thead{
    background-color: #5f5fee;
    border-top-color: #5f5fee;
    border-bottom-color: #5f5fee;
}
.mat-header-cell {
    color: white;
}
/* .containerfirst .add-btn {
    display: flex;
    align-items: center;
    height: 2.375rem;
    padding: 0.625rem 0.9375rem;
    width:26%; 
}
  
.containerfirst .input-group {
    display: flex;
    align-items: center;
    height: 38px;
}
  
.containerfirst .form-select,
.containerfirst .form-control {
    height: 38px;
} */

h2 {
    color: #5f5fee;
    font-weight: 600;
    text-align: center;
}
/* thead tr, thead tr th{
    background-color: #5f5fee;
}
thead th{
    color: whitesmoke;
}
td{
    font-weight: 400;
    color: rgb(61, 61, 61);
} */
.icon{
    cursor: pointer;
    display: inline-block;
    margin-left: 1rem;
}
.icon:hover{
    color: #5f5fee;
}
.page-link{
    color: #5f5fee;
    cursor: pointer;
}
.page-link:hover, .active{
    background-color: rgb(136, 136, 243);
    color: whitesmoke;
}
.active{
    background-color: #5f5fee;
    color: whitesmoke;
}
.add-btn {
    color: rgba(95, 95, 238);
    background-color: whitesmoke;
    border-color: #5f5fee;
}
.add-btn:hover{
    background-color: #5f5fee;
    border-color: whitesmoke;
    color: whitesmoke;
    border-radius: 5px;
}
.add-header {
    color: whitesmoke;
    font-weight: 600;
}
.modal-header{
    background-color: #5f5fee;
    color: white;
}
.close-btn{
    border-color: whitesmoke;
    color: whitesmoke;
}
.close-btn:hover{
    background-color: whitesmoke;
    color: #5f5fee;
}