<div id="masters-screen">
    <a routerLink="/masters/employeeMasters">
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
               Employee Masters
               <i class="fa-solid fa-users icon"></i>
            </div>
        </div>
    </a>
    <a routerLink="/masters">
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
               Company Masters
               <i class="fa-solid fa-building icon"></i>
            </div>
        </div>
    </a>
    <a routerLink="/masters/documentMasters">
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
               Document Masters
              <i class="fa-solid fa-file-invoice icon"></i>
            </div>
        </div>
    </a>
    <a routerLink="/masters">
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
               Apostille Master
               <i class="fa-solid fa-certificate icon"></i>
            </div>
        </div>
    </a>
    <a routerLink="/masters">
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
               Contract Type Master
               <i class="fa-solid fa-file-contract icon"></i>
            </div>
        </div>
    </a>
    <a routerLink="/masters">
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
               Escalation Matrix - Contract
               <i class="fa-solid fa-arrow-trend-up icon"></i>
            </div>
        </div>
    </a>
    <a routerLink="/masters/approval-matrix-contract">
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
               Approval Matrix - Contract
               <i class="fa-solid fa-file-circle-check icon"></i>
            </div>
        </div>
    </a>
    <a routerLink="/masters">
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
                Escalation Matrix - MOU
                <i class="fa-solid fa-arrow-trend-up icon"></i>
            </div>
        </div>
    </a>
    <a routerLink="/masters">
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
                Approval Matrix - MOU
                <i class="fa-solid fa-file-circle-check icon"></i>
            </div>
        </div>
    </a>
</div>