<app-loader *ngIf="loading"></app-loader>
<h2 class="pt-3 fs-1">Approval Matrix Master - MOUs</h2>

<app-table [data]="approvalMatrixMOUs" [displayedColumns]="displayedColumns" [columnsInfo]="columnsInfo">
</app-table>

<app-pagination [maxPage]="maxPage" [records]="this.approvalMatrixMOUs.length" [pageNumbers]="pageNumbers"
    [GetPage]="GetPage.bind(this)"></app-pagination>

<ng-template #actionTemplateRef let-row>
    <i class="fa-regular fa-pen-to-square icon" data-bs-toggle="modal" data-bs-target="#approval-matrix-mou-modal"
        (click)="GetMou(row.masterApprovalMatrixMOUId, true)"></i>
    <i class="fa-regular fa-eye icon" data-bs-toggle="modal" data-bs-target="#approval-matrix-mou-modal"
        (click)="GetMou(row.masterApprovalMatrixMOUId, false)"></i>
</ng-template>

<app-approval-matrix-mou-modal [GetApprovalMatrixMou]="GetApprovalMatrixMou.bind(this)"
    [approvalMatrixMOU]="approvalMatrixMOU" [isEdit]="isEdit"></app-approval-matrix-mou-modal>