<app-loader *ngIf="loading"></app-loader>
<h2 class="pt-3 fs-1">Contracts List</h2>
<div class="px-md-5 px-3">
    <button data-bs-toggle="modal" data-bs-target="#contract-add"
        class="add-btn btn btn-outline-primary mb-2 margin-right">
        <i class="fa-solid fa-file-circle-plus"></i> Add New Contract
    </button>
    <button class="add-btn btn btn-outline-primary mb-2 margin-right" (click)="printToPDF()">
        <i class="fa-solid fa-file-pdf"></i> Print to PDF
    </button>
    <button class="add-btn btn btn-outline-primary mb-2 margin-right" (click)="exportToExcel()">
        <i class="fa-solid fa-file-excel"></i> Print to Excel
    </button>
    <button class="add-btn btn btn-outline-primary mb-2" data-bs-toggle="collapse" data-bs-target="#filter-container">
        Filters<i class="fa-solid fa-angle-down"></i>
    </button>
    <div class="card mb-2">
        <div class="card-body collapse" id="filter-container">
            <form [formGroup]="filterForm" (ngSubmit)="onFilterSubmit()" class="filters">
                <div class="mb-3">
                    <p class="mb-1">From date</p>
                    <input class="form-control" type="date" formControlName="FromDate" />
                </div>
                <div class="mb-3">
                    <p class="mb-1">To date</p>
                    <span
                        *ngIf="filterForm?.errors?.['invalidDateRange'] && (filterForm?.get('ToDate')?.dirty || filterForm?.get('ToDate')?.touched)"
                        style="color: red">
                        Till date must be greater than from date.
                    </span><input class="form-control" type="date" formControlName="ToDate" />
                </div>
                <div class="mb-3">
                    <p class="mb-1">Contract type</p>
                    <select class="form-select" name="contract-type" id="filter-contract-type"
                        formControlName="ContractType">
                        <option value="0">--Select--</option>
                        <option *ngFor="let cont of contractTypes" value="{{cont.valueId}}">{{ cont.contractTypeName }}
                        </option>
                    </select>
                </div>
                <div class="mb-3">
                    <p class="mb-1">Renewal due in</p>
                    <select class="form-select" name="contract-renewal-in" id="filter-renewal-in"
                        formControlName="RenewalDueIn">
                        <option value="-1">--Select--</option>
                        <option value="0">Today</option>
                        <option value="30">30</option>
                        <option value="60">60</option>
                        <option value="90">90</option>
                    </select>
                </div>
                <div class="mb-3">
                    <p class="mb-1">Contract status</p>
                    <select class="form-select" name="contract-status" id="filter-contract-status"
                        formControlName="ContractStatus">
                        <option value="0">--Select--</option>
                        @for (key of statusKeys; track $index) {
                        <option *ngIf="checkNotNaN(key)" value="{{key}}">{{ (contractStatus[+key]).split('_').join(" ")}}</option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <p class="mb-1">Contract department</p>
                    <select class="form-select" name="department" id="filter-department" formControlName="Department">
                        <option value="0">--Select--</option>
                        <option *ngFor="let dept of departments" value="{{dept.departmentId}}">{{dept.departmentName}}
                        </option>
                    </select>
                </div>
                <div class="mb-3">
                    <p class="mb-1">Contract location</p>
                    <select class="form-select" name="loaction" id="filter-loction" formControlName="Location">
                        <option value="">--Select--</option>
                        @for (key of locationSelectKeys; track $index) {
                        <option value="{{getEnum(key)}}">{{key}}</option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <p class="mb-1">Has addendum</p>
                    <select class="form-select" name="contract-type" id="filter-contract-type"
                        formControlName="HasAddendum">
                        <option value="-1">--Select--</option>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div>
                    <button type="submit" class="add-btn btn btn-outline-primary mb-3">Filter</button>
                    <button type="button" class="add-btn btn btn-outline-primary mb-3 margin-left"
                        (click)="filterReset()">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
<app-table [columnsInfo]="columnsInfo" [data]="contracts" [displayedColumns]="displayedColumns"></app-table>
<ng-template #effectiveDateRef let-row>
    {{ row.effectiveDate.toString().split("T")[0] }}
</ng-template>
<ng-template #expiryDateRef let-row>
    {{ row.expiryDate.toString().split("T")[0] }}
</ng-template>
<ng-template #toBeRenewedOnRef let-row>
    {{ row?.toBeRenewedOn?.toString().split('T')[0] || '-' }}
</ng-template>
<ng-template #addendumDateRef let-row>
    {{ row?.addendumDate?.toString().split('T')[0] || '-' }}
</ng-template>
<ng-template #statusRef let-row>
    <button class="{{'btn btn-'+statusClass[row.status]}}" disabled><b>{{statusText[row.status]}}</b></button>
</ng-template>
<ng-template #renewalDueInRef let-row>
    {{ row.status == 2 && row.renewalDueIn > 0 ? row.renewalDueIn + " Days" : "-" }}
</ng-template>
<ng-template #actionRef let-row>
    <i class="fa-regular fa-eye icon" data-bs-toggle="modal" data-bs-target="#contract-detail"
        (click)="GetContract(row.contractID)"></i>
    <i class="fa-solid fa-trash icon" data-bs-toggle="modal" *ngIf="row.status == 1" data-bs-target="#contract-delete"
        (click)="DeleteContract(row.contractID)"></i>
    <i *ngIf="row.status == 2" class="fa-solid fa-clock-rotate-left icon"
        routerLink="/contracts/addendumContract/{{ row.contractID }}"></i>
</ng-template>

<app-pagination [maxPage]="maxPage" [records]="contracts.length" [pageNumbers]="pageNumbers"
    [GetPage]="GetPage.bind(this)"></app-pagination>
<p class="no-records fs-4 text-center" *ngIf="contracts.length == 0">No Records</p>

<app-contract-view-modal [GetPage]="GetPage.bind(this)" [contractDetails]="contractDetails"
    [approverCheck]="approverCheck" [terminationCheck]="terminationCheck" [withdrawCheck]="withdrawCheck"
    [currentPage]="currentPage" (loaderEmit)="setLoader($event)" (mailTypeEmit)="setMailType($event)"
    (statusTermOrRejectEmit)="setStatusTermOrReject($event)"></app-contract-view-modal>

<app-contract-add-modal [GetAllContracts]="GetAllContracts.bind(this)" [departments]="departments"
    [contractTypes]="contractTypes" (loaderEmit)="setLoader($event)" [apostilleTypes]="apostilleTypes"
    [companies]="companies"></app-contract-add-modal>

<app-contract-add-addendum-contract-modal [GetPage]="GetPage.bind(this)" [currentPage]="currentPage"
    [departments]="departments" [contractTypes]="contractTypes" [contractDetails]="contractDetails"
    [apostilleTypes]="apostilleTypes" [companies]="companies" (loaderEmit)="setLoader($event)">
</app-contract-add-addendum-contract-modal>

<app-post-termination-notice-modal [GetPage]="GetPage.bind(this)" [currentPage]="currentPage"
    [contractId]="contractDetails.contractId" (loaderEmit)="setLoader($event)">
</app-post-termination-notice-modal>

<app-termination-withdraw-notice [GetPage]="GetPage.bind(this)" [currentPage]="currentPage"
    [contractId]="contractDetails.contractId" (loaderEmit)="setLoader($event)">
</app-termination-withdraw-notice>

<app-withdrawal-contract-mail-body-modal (loaderEmit)="setLoader($event)" [GetPage]="GetPage.bind(this)"
[mailType]="mailType" [statusTermOrReject]="statusTermOrReject" [currentPage]="currentPage"
[contractId]="contractDetails.contractId"></app-withdrawal-contract-mail-body-modal>