<div id="not-found-container">
    <div class="astronaut">
        <div class="head"></div>
        <div class="arm arm-left"></div>
        <div class="arm arm-right"></div>
        <div class="body">
        <div class="panel"></div>
        </div>
        <div class="leg leg-left"></div>
        <div class="leg leg-right"></div>
        <div class="schoolbag"></div>
    </div>
    <div class="text-behind">
        <h1>404 Page Not Found</h1>
        <p>Uh-oh. Looks like you are on the wrong side. <a routerLink="/masters">Please head towards dashboard page</a>.</p>
    </div>
</div>