<div class="table-responsive p-3">
    <table class="table align-middle table-bordered table-striped">
      <thead>
        <tr>
            <th>Value ID</th>
            <th>Department</th>
            <th>Approver 1</th>
            <th>Approver 2</th>
            <th>Approver 3</th>
            <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>1</td>
            <td>Department</td>
            <td>Approver 1</td>
            <td>Approver 2</td>
            <td>Approver 3</td>
            <td>Action</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Department</td>
            <td>Approver 1</td>
            <td>Approver 2</td>
            <td>Approver 3</td>
            <td>Action</td>
        </tr>
      </tbody>
    </table>
  </div>