<app-loader *ngIf="loading"></app-loader>
<div *ngIf="!loading" class="table-responsive p-3">
    <table class="table align-middle table-bordered table-striped">
      <thead>
        <tr>
            <th>Value ID</th>
            <th>Department</th>
            <th>Approver 1</th>
            <th>Approver 2</th>
            <th>Approver 3</th>
            <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contract of approvalMatrixContracts">
            <td>{{contract.masterApprovalMatrixContractId}}</td>
            <td>{{contract.departmentName}}</td>
            <td>{{contract.approverName1}}</td>
            <td>{{contract.approverName2}}</td>
            <td>{{contract.approverName3}}</td>
            <td>
              <i class="fa-regular fa-pen-to-square icon" data-bs-toggle="modal" data-bs-target="#approval-matrix-contract-edit" (click)="GetContract(contract.masterApprovalMatrixContractId)"></i>
              <i class="fa-regular fa-eye icon" data-bs-toggle="modal" data-bs-target="#approval-matrix-contract-detail" (click)="GetContract(contract.masterApprovalMatrixContractId)"></i>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
  <nav class="d-flex justify-content-center" *ngIf="approvalMatrixContracts.length > 0" aria-label="Page navigation example">
    <ul *ngIf="maxPage > 1" class="pagination">
      <li *ngIf="maxPage > 5" class="page-item" (click)="GetPage(1)"><span class="page-link" aria-label="FirstPage">&laquo;</span></li>
      <li *ngIf="maxPage > 5" class="page-item" (click)="GetPage(pageNumbers[0] - 1)"><span class="page-link" aria-label="Previous">&lsaquo;</span></li>
      <li class="page-item" (click)="GetPage(pageNumbers[1])"><span [class]="pageNumbers[0] == pageNumbers[1] ? 'page-link active' : 'page-link'">{{pageNumbers[1]}}</span></li>
      <li *ngIf="maxPage > 1" class="page-item" (click)="GetPage(pageNumbers[2])"><span [class]="pageNumbers[0] == pageNumbers[2] ? 'page-link active' : 'page-link'">{{pageNumbers[2]}}</span></li>
      <li *ngIf="maxPage > 2" class="page-item" (click)="GetPage(pageNumbers[3])"><span [class]="pageNumbers[0] == pageNumbers[3] ? 'page-link active' : 'page-link'">{{pageNumbers[3]}}</span></li>
      <li *ngIf="maxPage > 3" class="page-item" (click)="GetPage(pageNumbers[4])"><span [class]="pageNumbers[0] == pageNumbers[4] ? 'page-link active' : 'page-link'">{{pageNumbers[4]}}</span></li>
      <li *ngIf="maxPage > 4" class="page-item" (click)="GetPage(pageNumbers[5])"><span [class]="pageNumbers[0] == pageNumbers[5] ? 'page-link active' : 'page-link'">{{pageNumbers[5]}}</span></li>
      <li *ngIf="maxPage > 5" class="page-item" (click)="GetPage(pageNumbers[0] + 1)"><span class="page-link" aria-label="Next">&rsaquo;</span></li>
      <li *ngIf="maxPage > 5" class="page-item" (click)="GetPage(maxPage)"><span class="page-link" aria-label="LastPage">&raquo;</span></li>
    </ul>
  </nav>
  <div class="modal fade" id="approval-matrix-contract-edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <form class="modal-content">
        <div class="modal-header d-flex justify-content-between">
          <h1 style="color: whitesmoke;" class="modal-title fs-5 fw-bolder">Edit</h1>
          <button type="reset" class="btn close-btn" data-bs-dismiss="modal" aria-label="Close" (click)="closeEditApproverCollapses()"><i class="fa-solid fa-xmark"></i></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
              <input class="form-control edit-input dropdown-input" placeholder="Select approver 1" data-bs-toggle="collapse" data-bs-target="#approver1-dropdown" readonly/>
              <span class="input-group-text dropdown-icon"  data-bs-toggle="collapse" data-bs-target="#approver1-dropdown"><i class="fa-solid fa-angle-down"></i></span>  
              </div>
                <div #editApproverCollapse1 id="approver1-dropdown" class="collapse">
                  <div class="card card-body">
                    <input type="text" class="form-control" placeholder="Search.." id="myInput">
                  </div>
              </div>
          </div>
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
              <input class="form-control edit-input dropdown-input" placeholder="Select approver 2" data-bs-toggle="collapse" data-bs-target="#approver2-dropdown" aria-expanded="false"  readonly/>
              <span class="input-group-text dropdown-icon"  data-bs-toggle="collapse" data-bs-target="#approver2-dropdown"><i class="fa-solid fa-angle-down"></i></span>  
            </div>
                <div #editApproverCollapse2 id="approver2-dropdown" class="collapse">
                  <div class="card card-body">
                    <input type="text" class="form-control" placeholder="Search..">
                  </div>
              </div>
          </div>
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
              <input class="form-control edit-input dropdown-input" placeholder="Select approver 3" data-bs-toggle="collapse" data-bs-target="#approver3-dropdown" readonly/>
              <span class="input-group-text dropdown-icon"  data-bs-toggle="collapse" data-bs-target="#approver3-dropdown"><i class="fa-solid fa-angle-down"></i></span>
              </div>
                <div #editApproverCollapse3 id="approver3-dropdown" class="collapse">
                  <div class="card card-body">
                    <input type="text" class="form-control" placeholder="Search..">
                  </div>
              </div>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn">Save</button>
            <button type="reset" class="btn" data-bs-dismiss="modal" (click)="closeEditApproverCollapses()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  <div class="modal fade" id="approval-matrix-contract-detail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-between">
          <h1 style="color: whitesmoke;" class="modal-title fs-5 fw-bolder">Detail</h1>
          <button type="button" class="btn close-btn" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
        </div>
        <div class="modal-body">
          <h1 class="modal-title fs-6 mb-3">Approvers</h1>
          <div class="mb-3">
            <div class="input-group">
                <span class="input-group-text"><i class="fa-solid fa-user"></i><span class="fw-bolder">1</span></span>
                <input type="text" name="approverName1" class="form-control" id="approverName1" [value]="approvalMatrixContract != undefined ? approvalMatrixContract.approverName1 : ''" disabled>
            </div>
          </div>
          <div class="mb-3">
            <div class="input-group">
                <span class="input-group-text"><i class="fa-solid fa-user"></i><span class="fw-bolder">2</span></span>
                <input type="text" name="approverName2" class="form-control" id="approverName2" [value]="approvalMatrixContract != undefined ? approvalMatrixContract.approverName2 : ''" disabled>
            </div>
          </div>
          <div class="mb-3">
            <div class="input-group">
                <span class="input-group-text"><i class="fa-solid fa-user"></i><span class="fw-bolder">3</span></span>
                <input type="text" name="approverName3" class="form-control" id="approverName3" [value]="approvalMatrixContract != undefined ? approvalMatrixContract.approverName3 : ''" disabled>
            </div>
          </div>
          <h1 class="modal-title fs-6 mb-3">Skip Approval after no response for the number of days</h1>
          <div class="mb-3">
            <div class="input-group">
                <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
                <input type="text" name="approverName1" class="form-control" id="approverName1" [value]="approvalMatrixContract != undefined ? approvalMatrixContract.numberOfDays : ''" disabled>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>