h2 {
    color: #5f5fee;
    font-weight: 600;
    text-align: center;
}

thead tr, thead tr th{
    background-color: #5f5fee;
}
thead th{
    color: whitesmoke;
}
td{
    font-weight: 400;
    color: rgb(61, 61, 61);
}
.icon{
    cursor: pointer;
    display: inline-block;
    margin-left: 1rem;
}
.icon:hover{
    color: #5f5fee;
}
.active{
    background-color: #5f5fee;
    color: whitesmoke;
}

.modal-header{
    border-color: #5f5fee;
    background-color: #5f5fee;
}
.form-control:focus{
    box-shadow: none;
    border-color: #dee2e6;
}


/* .searchbox{
    text-align: center;
} */

#contractDetailLabel{
    background-color: #5f5fee;
}