<app-loader *ngIf="loading"></app-loader>
<h2 class="pt-3">Contract Type Master</h2>
<div class="px-md-5 px-3">
  <button data-bs-toggle="modal" data-bs-target="#contract-add" class="add-btn btn btn-outline-primary mb-2 me-3">
    <i class="fa-solid fa-file-circle-plus"></i> Add New
    Type
  </button>
</div>

<app-table [data]="showContract" [displayedColumns]="displayedColumns" [columnsInfo]="columnsInfo">
</app-table>

<app-pagination [maxPage]="maxPage" [records]="showContract.length" [pageNumbers]="pageNumbers"
  [GetPage]="GetPage.bind(this)"></app-pagination>

<ng-template #statusRef let-row>{{ row.status == true ? 'Active' : 'Inactive' }}</ng-template>

<ng-template #actionRef let-row>
  <i class="fa-regular fa-pen-to-square icon" data-bs-toggle="modal" data-bs-target="#contract-edit"
    (click)="fetchContractData(row.valueId)"></i>
  <i class="fa-solid fa-trash icon" (click)="deleteContract(row.valueId)"></i>
</ng-template>

<div class="modal fade" id="contract-add" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <!--modal for adding the data -->
      <form [formGroup]="contractTypeMasterAddForm" (ngSubmit)="onAddFormSubmitContract()">
        <div class="modal-header d-flex justify-content-between">
          <h1 style="color: whitesmoke;" class="modal-title fs-5 fw-bolder">Contract Details</h1>
          <button type="reset" class="btn close-btn" data-bs-dismiss="modal" aria-label="Close"><i
              class="fa-solid fa-xmark"></i></button>
        </div>
        <div class="modal-body">
          <div class="p-2">
            <div class="fields-container">
              <div class="m-3">
                <label for="contractTypeName" class="form-label">Contract Type Name<span
                    style="color: red;">*</span></label>
                <span
                  *ngIf="contractTypeName?.hasError('required') && (contractTypeName?.dirty || contractTypeName?.touched)"
                  style="color: red;">Required</span>
                <span *ngIf="contractTypeName?.hasError('maxlength')" style="color:red;"> Enter value less than 30
                  alphabets</span>
                <span *ngIf="contractTypeName?.hasError('pattern')" style="color:red;">Only smallcase/capitalcase
                  alphabets from a to z are allowed </span>
                <input class="form-control" type="text" id="contractTypeName" placeholder="Enter contract type name"
                  formControlName="contractTypeName">
              </div>
              <div class="m-3">
                <label for="status" class="form-label">Status<span style="color: red;">*</span></label>
                <span *ngIf="status?.hasError('required') && (status?.dirty || status?.touched)"
                  style="color: red;">Required</span>
                <select class="form-select" name="status" id="status" formControlName="status">
                  <option value="" disabled selected>--Select Status--</option>
                  <option value="0">Inactive</option>
                  <option value="1">Active</option>
                </select>
              </div>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-primary add-btn" id="btnadd" type="submit"
            style="max-width: 300px;">Add</button>
          <button class="btn btn-outline-danger" id="btncancel" type="reset" data-bs-dismiss="modal"
            style="max-width: 300px;">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--modal for editing the data -->

<div class="modal fade" id="contract-edit" tabindex="-1" aria-labelledby="companyDetailLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <form [formGroup]="contractTypeMasterAddForm" (ngSubmit)="onUpdateFormSubmit()">
        <div class="modal-header d-flex justify-content-between">
          <h5 style="color: whitesmoke;" class="modal-title fs-5 fw-bolder" id="companyDetailLabel">Edit Contract
            Details
          </h5>
          <button type="reset" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="p-2">
            <div class="fields-container">
              <div class="m-3">
                <label for="contractTypeName" class="form-label">Contract Name<span style="color: red;">*</span></label>
                <span
                  *ngIf="contractTypeName?.hasError('required') && (contractTypeName?.dirty || contractTypeName?.touched)"
                  style="color: red;">Required</span>
                <span *ngIf="contractTypeName?.hasError('maxlength')" style="color:red;"> Enter value less than 20
                  alphabets</span>
                <span *ngIf="contractTypeName?.hasError('pattern')" style="color:red;">Only smallcase/largecase
                  alphabets from a to z are allowed </span>
                <input class="form-control" type="text" id="contractTypeName" placeholder="Enter contract name"
                  formControlName="contractTypeName">
              </div>
              <div class="m-3">
                <label for="status" class="form-label">Status<span style="color: red;">*</span></label>
                <span *ngIf="status?.hasError('required') && (status?.dirty || status?.touched)"
                  style="color: red;">Required</span>
                <!-- <input class="form-control" type="text" id="companyStatus" formControlName="companyStatus" placeholder="Choose eithe true or false"> -->
                <select class="form-select" name="status" id="status" formControlName="status">
                  <option value="" selected disabled>--Select Status--</option>
                  <option value="1">Active</option>
                  <option value="0">Inactive</option>
                </select>
              </div>
            </div>



          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-primary add-btn" id="btnadd" type="submit"
            style="max-width: 300px;">Update</button>
          <button class="btn btn-outline-danger" id="btncancel" type="reset" data-bs-dismiss="modal"
            style="max-width: 300px;">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>