h2 {
    color: #5f5fee;
    font-weight: 600;
    text-align: center;
}
.icon{
    cursor: pointer;
    display: inline-block;
    margin-left: 1rem;
}
.icon:hover{
    color: #5f5fee;
}
.modal-header{
   border: 2px solid var(--table-side-border-color);
    background-color: var(--btn-theme-toggle-color);
}
.modal-title{
    color: #5f5fee;
}
.close-btn{
    border-color: whitesmoke;
    color: whitesmoke;
}
.close-btn:hover{
    background-color: whitesmoke;
    color: #5f5fee;
}
.form-control:focus{
    box-shadow: none;
    border-color: #dee2e6;
}
.add-btn {
    color: #5f5fee;
    background-color: whitesmoke;
    border-color: #5f5fee;
}
.add-btn:hover{
    background-color: #5f5fee;
    border-color: whitesmoke;
    color: whitesmoke;
    border-radius: 5px;
}