<div id="form-screen">
    <div class="card form-card" style="width: 18rem;">
        <div class="card-body">
            <h3 class="card-title form-title mb-3">Renew your password</h3>
            <form class="needs-validation" #renewForm = "ngForm" (ngSubmit)="loginUser(renewForm)" novalidate>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                    <input type="email" name="email" #email = "ngModel" class="form-control" id="email" placeholder="Email" required [(ngModel)] = renewModel.email>
                </div>
                <!-- <div class="invalid-feedback">Email is required</div> -->
                <small class="fields-error" *ngIf="email.invalid && email.touched">Email is required</small>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                    <input [type]="loginPasswordEyeOpen ? 'text' : 'password'" name="oldPassword" #oldPassword = "ngModel" class="form-control" id="oldPassword" placeholder="Old Password" required [(ngModel)] = renewModel.oldPassword>
                </div>
                <!-- <div class="invalid-feedback">Password is required</div> -->
                <small class="fields-error" *ngIf="oldPassword.invalid && oldPassword.touched">Old Password is required</small>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                    <input [type]="loginPasswordEyeOpen ? 'text' : 'password'" name="newPassword" #newPassword = "ngModel" class="form-control" id="password" placeholder="New Password" required [(ngModel)] = renewModel.newPassword>
                </div>
                <!-- <div class="invalid-feedback">Password is required</div> -->
                <small class="fields-error" *ngIf="newPassword.invalid && newPassword.touched">New Password is required</small>
            </div>
            <div class="mb-3 form-check">
                <label class="form-check-label" for="showPassword">
                    <input type="checkbox" class="form-check-input" id="showPassword" (change)="loginPasswordEyeToggle()">
                    Show password
                </label>
            </div>
            <button type="submit" class="btn button">Renew</button>
            </form>
        </div>
    </div>
</div>