#form-screen{
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5F5FEE;
    background: linear-gradient(164deg,rgba(95, 95, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.form-card{
    box-shadow: 5px 5px 15px rgb(126, 126, 221);
}
.form-title{
    text-align: center;
    color: rgb(95, 95, 238);
}

.fields-error{
    color: red;
}
.button{
    width: 100%;
    color: #5f5fee;
    border-color: #5f5fee;
}
.button:hover{
    /* background-color: rgb(136, 136, 243); */
    background-color: #5f5fee;
    color: whitesmoke;
}
.input-group-text{
    background-color: whitesmoke;
  }
  /* Hide the default "show password" icon in Edge */
  input[type="password"]::-ms-reveal {
      display: none;
    }
    
    /* Hide the default "show password" icon in other browsers */
    input[type="password"]::-webkit-credentials-auto-fill-button {
      display: none;
    }
    
    /* Hide the default icon on Firefox */
    input[type="password"]::-moz-placeholder {
      display: none;
    }
    input[type="checkbox"]:checked{
      background-color: #5f5fee;
    }
    input:focus{
      box-shadow: 0 0 5px #5f5fee;
    }