<div
  #addContractModal
  class="modal fade"
  id="contract-add"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-content">
    <div class="modal-header d-flex justify-content-between">
      <h1 style="color: whitesmoke" class="modal-title fs-5 fw-bolder">
        {{ isCreate ? "Add New Contract" : "View" }}
      </h1>
      <button
        *ngIf="isCreate"
        type="reset"
        class="btn close-btn"
        data-bs-dismiss="modal"
        aria-label="Close"
        (click)="formfield('reset')"
      >
        <i class="fa-solid fa-xmark"></i>
      </button>
      <button
        *ngIf="!isCreate"
        type="button"
        class="btn close-btn"
        data-bs-dismiss="modal"
        aria-label="Close"
      >
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="masterContractAddForm" (ngSubmit)="onAddFormSubmit()">
        <div class="p-2">
          <div class="card-body">
            <div class="fields-container">
              <div class="m-3">
                <label for="classifiedContractName"
                  >Contract Name<span *ngIf="isCreate" style="color: red"
                    >*</span
                  ></label
                >
                <span
                  *ngIf="
                    isCreate &&
                    formfield('classifiedContractName')?.hasError('required') &&
                    (formfield('classifiedContractName')?.dirty ||
                      formfield('classifiedContractName')?.touched)
                  "
                  style="color: red"
                  >Required</span
                >
                <input
                  *ngIf="isCreate"
                  class="form-control"
                  type="text"
                  id="classifiedContractName"
                  placeholder="Enter contract name"
                  formControlName="classifiedContractName"
                />
                <input
                  *ngIf="!isCreate"
                  class="form-control"
                  type="text"
                  id="classifiedContractName"
                  value="{{ contractDetails?.classifiedContractName }}"
                  disabled
                />
              </div>
              <div class="m-3">
                <label for="termsAndConditions"
                  >Department<span *ngIf="isCreate" style="color: red"
                    >*</span
                  ></label
                >
                <span
                  *ngIf="
                    isCreate &&
                    formfield('departmentId')?.hasError('required') &&
                    (formfield('departmentId')?.dirty ||
                      formfield('departmentId')?.touched)
                  "
                  style="color: red"
                  >Required</span
                >
                <span
                  *ngIf="
                    isCreate &&
                    formfield('departmentId')?.hasError('pattern') &&
                    (formfield('departmentId')?.dirty ||
                      formfield('departmentId')?.touched)
                  "
                  style="color: red"
                  >Invalid number</span
                >
                <select
                  *ngIf="isCreate"
                  class="form-select"
                  name="departmentId"
                  id="departmentId"
                  formControlName="departmentId"
                >
                  <option value="" disabled selected>
                    --Select one Department--
                  </option>
                  <option
                    *ngFor="let department of departments"
                    value="{{ department.departmentId }}"
                  >
                    {{ department.departmentName }}
                  </option>
                </select>
                <input
                  *ngIf="!isCreate"
                  class="form-control"
                  type="text"
                  id="departmentId"
                  value="{{ contractDetails?.departmentName }}"
                  disabled
                />
              </div>
              <div class="m-3">
                <label for="termsAndConditions"
                  >Contract with Company<span
                    *ngIf="isCreate"
                    style="color: red"
                    >*</span
                  ></label
                >
                <span
                  *ngIf="
                    isCreate &&
                    formfield('contractWithCompanyId')?.hasError('required') &&
                    (formfield('contractWithCompanyId')?.dirty ||
                      formfield('contractWithCompanyId')?.touched)
                  "
                  style="color: red"
                  >Required</span
                >
                <span
                  *ngIf="
                    isCreate &&
                    formfield('contractWithCompanyId')?.hasError('pattern') &&
                    (formfield('contractWithCompanyId')?.dirty ||
                      formfield('contractWithCompanyId')?.touched)
                  "
                  style="color: red"
                  >Invalid number</span
                >
                <select
                  *ngIf="isCreate"
                  class="form-select"
                  name="contractWithCompanyId"
                  id="contractWithCompanyId"
                  formControlName="contractWithCompanyId"
                >
                  <option value="" disabled selected>
                    --Select one Company--
                  </option>
                  <option
                    *ngFor="let company of companies"
                    value="{{ company.valueId }}"
                  >
                    {{ company.companyName }}
                  </option>
                </select>
                <input
                  *ngIf="!isCreate"
                  class="form-control"
                  type="text"
                  id="contractWithCompanyId"
                  value="{{ contractDetails?.contractWithCompanyName }}"
                  disabled
                />
              </div>
              <div class="m-3">
                <label for="actualDocRefNo"
                  >Contract Type<span *ngIf="isCreate" style="color: red"
                    >*</span
                  ></label
                >
                <span
                  *ngIf="
                    isCreate &&
                    formfield('contractTypeId')?.hasError('required') &&
                    (formfield('contractTypeId')?.dirty ||
                      formfield('contractTypeId')?.touched)
                  "
                  style="color: red"
                  >Required</span
                >
                <select
                  *ngIf="isCreate"
                  class="form-select"
                  name="contractTypeId"
                  id="contractTypeId"
                  formControlName="contractTypeId"
                >
                  <option value="" disabled selected>
                    --Select one Contract Type--
                  </option>
                  <option
                    *ngFor="let contractType of contractTypes"
                    value="{{ contractType.valueId }}"
                  >
                    {{ contractType.contractTypeName }}
                  </option>
                </select>
                <input
                  *ngIf="!isCreate"
                  class="form-control"
                  type="text"
                  id="contractTypeId"
                  value="{{ contractDetails?.contractTypeName }}"
                  disabled
                />
              </div>
              <div class="m-3">
                <label for="apostilleTypeId"
                  >Apostille Type<span *ngIf="isCreate" style="color: red"
                    >*</span
                  ></label
                >
                <span
                  *ngIf="
                    isCreate &&
                    formfield('apostilleTypeId')?.hasError('required') &&
                    (formfield('apostilleTypeId')?.dirty ||
                      formfield('apostilleTypeId')?.touched)
                  "
                  style="color: red"
                  >Required</span
                >
                <span
                  *ngIf="
                    isCreate &&
                    formfield('apostilleTypeId')?.hasError('pattern') &&
                    (formfield('apostilleTypeId')?.dirty ||
                      formfield('apostilleTypeId')?.touched)
                  "
                  style="color: red"
                  >Invalid number</span
                >
                <select
                  *ngIf="isCreate"
                  class="form-select"
                  name="apostilleTypeId"
                  id="apostilleTypeId"
                  formControlName="apostilleTypeId"
                >
                  <option value="" selected disabled>
                    --Select one Apostille Type--
                  </option>
                  <option
                    *ngFor="let apostille of apostilleTypes"
                    value="{{ apostille.valueId }}"
                  >
                    {{ apostille.apostilleName }}
                  </option>
                </select>
                <input
                  *ngIf="!isCreate"
                  class="form-control"
                  type="text"
                  id="apostilleTypeId"
                  value="{{ contractDetails?.apostilleTypeName }}"
                  disabled
                />
              </div>
              <div class="m-3">
                <label for="termsAndConditions"
                  >Actual Document Reference Number<span
                    *ngIf="isCreate"
                    style="color: red"
                    >*</span
                  ></label
                >
                <span
                  *ngIf="
                    isCreate &&
                    formfield('actualDocRefNo')?.hasError('required') &&
                    (formfield('actualDocRefNo')?.dirty ||
                      formfield('actualDocRefNo')?.touched)
                  "
                  style="color: red"
                  >Required</span
                >
                <span
                  *ngIf="
                    isCreate &&
                    formfield('actualDocRefNo')?.hasError('pattern') &&
                    (formfield('actualDocRefNo')?.dirty ||
                      formfield('actualDocRefNo')?.touched)
                  "
                  style="color: red"
                  >Invalid number</span
                >
                <input
                  *ngIf="isCreate"
                  class="form-control"
                  type="text"
                  id="actualDocRefNo"
                  placeholder="Enter Actual Document Reference Number"
                  formControlName="actualDocRefNo"
                />
                <input
                  *ngIf="!isCreate"
                  class="form-control"
                  type="text"
                  id="actualDocRefNo"
                  value="{{ contractDetails?.actualDocRefNo }}"
                  disabled
                />
              </div>
              <div class="m-3">
                <label for="termsAndConditions"
                  >Retainer Contract Type<span
                    *ngIf="isCreate"
                    style="color: red"
                    >*</span
                  ></label
                >
                <span
                  *ngIf="
                    isCreate &&
                    formfield('retainerContract')?.hasError('required') &&
                    (formfield('retainerContract')?.dirty ||
                      formfield('retainerContract')?.touched)
                  "
                  style="color: red"
                  >Required</span
                >
                <span
                  *ngIf="
                    isCreate &&
                    formfield('retainerContract')?.hasError('pattern') &&
                    (formfield('retainerContract')?.dirty ||
                      formfield('retainerContract')?.touched)
                  "
                  style="color: red"
                  >Invalid number</span
                >
                <select
                  *ngIf="isCreate"
                  class="form-select"
                  name="retainerContract"
                  id="retainerContract"
                  formControlName="retainerContract"
                >
                  <option value="" selected disabled>
                    --Select Retainer Type--
                  </option>
                  <option value="1">None</option>
                  <option value="2">Weekly</option>
                  <option value="3">Monthly</option>
                  <option value="4">Quarterly</option>
                  <option value="5">Yearly</option>
                </select>
                <input
                  *ngIf="!isCreate"
                  class="form-control"
                  type="text"
                  id="retainerContract"
                  value="{{ contractDetails?.retainerContract }}"
                  disabled
                />
              </div>
              <div class="m-3">
                <label for="termsAndConditions"
                  >Terms and Conditions<span *ngIf="isCreate" style="color: red"
                    >*</span
                  ></label
                >
                <span
                  *ngIf="
                    isCreate &&
                    formfield('termsAndConditions')?.hasError('required') &&
                    (formfield('termsAndConditions')?.dirty ||
                      formfield('termsAndConditions')?.touched)
                  "
                  style="color: red"
                  >Required</span
                >
                <textarea
                  *ngIf="isCreate"
                  class="form-control"
                  placeholder="Terms and Conditions"
                  id="termsAndConditions"
                  formControlName="termsAndConditions"
                ></textarea>
                <textarea
                  *ngIf="!isCreate"
                  class="form-control"
                  id="termsAndConditions"
                  value="{{ contractDetails?.termsAndConditions }}"
                  disabled
                ></textarea>
              </div>
              <div class="m-3">
                <label for="validFrom"
                  >Valid from<span *ngIf="isCreate" style="color: red"
                    >*</span
                  ></label
                >
                <span
                  *ngIf="
                    isCreate &&
                    formfield('validFrom')?.hasError('required') &&
                    (formfield('validFrom')?.dirty ||
                      formfield('validFrom')?.touched)
                  "
                  style="color: red"
                  >Required</span
                >
                <span *ngIf="masterContractAddForm.get('validFrom')?.errors as errors">
                  <span style="color: red;" *ngIf="errors['invalidDate']">
                    Invalid date.
                  </span>
                  <span style="color: red;" *ngIf="errors['pastDate']">
                    Date must not be in the past.
                  </span>
                  </span>
                <input
                  *ngIf="isCreate"
                  class="form-control"
                  type="date"
                  id="validFrom"
                  formControlName="validFrom"
                />
                <input
                  *ngIf="!isCreate"
                  class="form-control"
                  type="date"
                  id="validFrom"
                  value="{{ contractDetails?.validFrom }}"
                  disabled
                />
              </div>
              <div class="m-3">
                <label for="validTill"
                  >Valid till<span *ngIf="isCreate" style="color: red"
                    >*</span
                  ></label
                >
                <span
                  *ngIf="
                    isCreate &&
                    formfield('validTill')?.hasError('required') &&
                    (formfield('validTill')?.dirty ||
                      formfield('validTill')?.touched)
                  "
                  style="color: red"
                  >Required</span
                >
                <span *ngIf="masterContractAddForm.get('validTill')?.errors as errors">
                  <span style="color: red;" *ngIf="errors['invalidDate']">
                    Invalid date.
                  </span>
                  <span style="color: red;" *ngIf="errors['pastDate']">
                    Date must not be in the past.
                  </span>
                </span>
                <span *ngIf="masterContractAddForm.get('validTill')?.errors as errors">
                  <span style="color: red;" *ngIf="errors['invalidDateRange']">
                    Date must be grater than valid from date
                  </span>
                </span>
                <span
                  *ngIf="masterContractAddForm.errors?.['invalidDateRange'] && (formfield('validTill')?.dirty ||
                      formfield('validTill')?.touched)"
                  style="color: red">
                  Valid till date must be greater than valid from date.
                </span>
                <input
                  *ngIf="isCreate"
                  class="form-control"
                  type="date"
                  id="validTill"
                  formControlName="validTill"
                />
                <input
                  *ngIf="!isCreate"
                  class="form-control"
                  type="date"
                  id="validTill"
                  value="{{ contractDetails?.validTill }}"
                  disabled
                />
              </div>
              <div class="m-3">
                <label for="renewalFrom">Renewal from</label>
                <input
                  *ngIf="isCreate"
                  class="form-control"
                  type="date"
                  id="renewalFrom"
                  formControlName="renewalFrom"
                />
                <input
                  *ngIf="!isCreate"
                  class="form-control"
                  type="date"
                  id="renewalFrom"
                  value="{{  contractDetails?.renewalFrom }}"
                  disabled
                />
              </div>
              <div class="m-3">
                <label for="renewalTill">Renewal till</label>
                <input
                  *ngIf="isCreate"
                  class="form-control"
                  type="date"
                  id="renewalTill"
                  formControlName="renewalTill"
                />
                <input
                  *ngIf="!isCreate"
                  class="form-control"
                  type="date"
                  id="renewalTill"
                  value="{{ contractDetails?.renewalTill }}"
                  disabled
                />
              </div>
              <!-- <div class="m-3">
                <label for="addendumDate">Addendum Date</label>
                <input
                  *ngIf="isCreate"
                  class="form-control"
                  type="date"
                  id="addendumDate"
                  formControlName="addendumDate"
                />
                <input
                  *ngIf="!isCreate"
                  class="form-control"
                  type="date"
                  id="addendumDate"
                  value="{{ contractDetails?.addendumDate }}"
                  disabled
                />
              </div> -->
              <div class="m-3">
                <label for="empCustodianName"
                  >Employee Custodian Name<span
                    *ngIf="isCreate"
                    style="color: red"
                    >*</span
                  ></label
                >
                <span
                  *ngIf="
                    isCreate &&
                    formfield('empCustodianId')?.hasError('required') &&
                    (formfield('empCustodianId')?.dirty ||
                      formfield('empCustodianId')?.touched)
                  "
                  style="color: red"
                  >Required</span
                >
                <span
                  *ngIf="
                    isCreate &&
                    formfield('empCustodianId')?.hasError('pattern') &&
                    (formfield('empCustodianId')?.dirty ||
                      formfield('empCustodianId')?.touched)
                  "
                  style="color: red"
                  >Invalid Employee</span
                >
                <div class="mb-3">
                  <input
                    *ngIf="!isCreate"
                    class="form-control"
                    type="text"
                    id="empCustodianName"
                    value="{{ contractDetails?.empCustodianName }}"
                    disabled
                  />
                  <div *ngIf="isCreate" class="input-group">
                    <input
                      class="form-control edit-input dropdown-input"
                      placeholder="Employee Custodian"
                      data-bs-toggle="collapse"
                      data-bs-target="#empCustodian-dropdown"
                      aria-expanded="false"
                      formControlName="empCustodianName"
                      readonly
                    />
                    <span
                      class="input-group-text dropdown-icon"
                      data-bs-toggle="collapse"
                      data-bs-target="#empCustodian-dropdown"
                      ><i class="fa-solid fa-angle-down"></i
                    ></span>
                  </div>
                  <div
                    *ngIf="isCreate"
                    #addEmpCustodianCollapse
                    id="empCustodian-dropdown"
                    class="collapse"
                  >
                    <div class="card card-body">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Search.."
                        (input)="
                          textChangeEmployeeCustodian(
                            formfield('departmentId')?.value != ''
                              ? formfield('departmentId')?.value
                              : 0,
                            $event
                          )
                        "
                      />
                      <button
                        type="button"
                        *ngFor="let emp of employeeCustodians"
                        class="dropdown-btn btn"
                        (click)="
                          fillEmployeeCustodian(emp.valueId, emp.employeeName)
                        "
                      >
                        ({{ emp.employeeCode }}) {{ emp.employeeName }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="m-3">
                <label for="location"
                  >Location<span *ngIf="isCreate" style="color: red"
                    >*</span
                  ></label
                >
                <span
                  *ngIf="
                    isCreate &&
                    formfield('location')?.hasError('required') &&
                    (formfield('location')?.dirty ||
                      formfield('location')?.touched)
                  "
                  style="color: red"
                  >Required</span
                >
                <input
                  *ngIf="isCreate"
                  class="form-control"
                  type="text"
                  placeholder="Location"
                  id="location"
                  formControlName="location"
                />
                <input
                  *ngIf="!isCreate"
                  class="form-control"
                  type="text"
                  id="location"
                  value="{{ contractDetails?.location }}"
                  disabled
                />
              </div>
              <div *ngIf="!isCreate" class="mb-3 form-check">
                <label for="approver1">Approver L1 Stauts</label>
                <input
                  type="text"
                  class="form-control"
                  id="approver1"
                  [value]="
                    approverStatusValue[
                      returnValue(contractDetails?.approver1Status)
                    ]
                  "
                  [ngStyle]="{
                    'background-color':
                      approverStatusColor[
                        returnValue(contractDetails?.approver1Status)
                      ]
                  }"
                  disabled
                />
              </div>
              <div *ngIf="!isCreate" class="mb-3 form-check">
                <label for="approver2">Approver L2 Stauts</label>
                <input
                  type="text"
                  class="form-control"
                  id="approver2"
                  [value]="
                    approverStatusValue[
                      returnValue(contractDetails?.approver2Status)
                    ]
                  "
                  [ngStyle]="{
                    'background-color':
                      approverStatusColor[
                        returnValue(contractDetails?.approver2Status)
                      ]
                  }"
                  disabled
                />
              </div>
              <div *ngIf="!isCreate" class="mb-3 form-check">
                <label for="approver3">Approver L3 Stauts</label>
                <input
                  type="text"
                  class="form-control"
                  id="approver3"
                  [value]="
                    approverStatusValue[
                      returnValue(contractDetails?.approver3Status)
                    ]
                  "
                  [ngStyle]="{
                    'background-color':
                      approverStatusColor[
                        returnValue(contractDetails?.approver3Status)
                      ]
                  }"
                  disabled
                />
              </div>
              <div *ngIf="isCreate" class="mb-3 form-check">
                <label for="skipApproval">Skip Approval</label>&nbsp;
                <input
                  type="checkbox"
                  formControlName="skipApproval"
                  id="skipApproval"
                /><br />
                <span
                  *ngIf="formfield('skipApproval')?.value"
                  style="color: gray"
                  >Default Approver will be based on Department</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            *ngIf="isCreate"
            class="btn add-btn add-modal-btn"
            id="btnadd"
            type="submit"
            style="max-width: 300px"
          >
            Add
          </button>
          <button
            *ngIf="isCreate"
            type="reset"
            data-bs-dismiss="modal"
            class="btn btn-outline-danger"
            id="btncancel"
            style="max-width: 300px"
            (click)="formfield('reset')"
          >
            Cancel
          </button>
          <button
            type="button"
            class="btn btn-primary"
            *ngIf="!isCreate && withdrawCheck"
            data-bs-target="#withdrawal-mail"
            data-bs-toggle="modal"
            (click)="termStatus(2)"
          >
            Approve Notice Withdrawal
          </button>
          <button
            type="button"
            class="btn btn-danger"
            *ngIf="!isCreate && withdrawCheck"
            data-bs-target="#withdrawal-mail"
            data-bs-toggle="modal"
            (click)="termStatus(7)"
          >
            Reject Notice Withdrawal
          </button>

          <button
            type="button"
            class="btn btn-primary"
            *ngIf="!isCreate && terminationCheck"
            data-bs-target="#postTerm-mail"
            data-bs-toggle="modal"
            (click)="termStatus(7)"
          >
            Approve Termination
          </button>
          <button
            type="button"
            class="btn btn-danger"
            *ngIf="!isCreate && terminationCheck"
            data-bs-target="#postTerm-mail"
            data-bs-toggle="modal"
            (click)="termStatus(2)"
          >
            Reject Termination
          </button>

          <button
            type="button"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            *ngIf="!isCreate && approverCheck"
            (click)="
              approveRejectContract(contractDetails?.classifiedContractId, 2)
            "
          >
            Approve
          </button>
          <button
            type="button"
            class="btn btn-danger"
            data-bs-dismiss="modal"
            *ngIf="!isCreate && approverCheck"
            (click)="
              approveRejectContract(contractDetails?.classifiedContractId, 3)
            "
          >
            Reject
          </button>

          <button
            type="button"
            data-bs-dismiss="modal"
            class="btn btn-outline-danger"
            id="btncancel"
            style="max-width: 300px"
            data-bs-target="#Termination-Notice-Detail"
            data-bs-toggle="modal"
            *ngIf="!isCreate && contractDetails?.approver3Status == 2"
            (click)="
              getContractIdforPostTerm(contractDetails?.classifiedContractId)
            "
          >
            Post Termination
          </button>
          <button
            type="button"
            data-bs-dismiss="modal"
            class="btn btn-outline-success"
            id="btncancel"
            style="max-width: 300px"
            data-bs-target="#Notice-Withdrawal-Detail"
            data-bs-toggle="modal"
            *ngIf="!isCreate && contractDetails?.approver3Status == 7"
            (click)="
              getContractIdforPostTerm(contractDetails?.classifiedContractId)
            "
          >
            Withdraw Notice
          </button>
          <button
            *ngIf="!isCreate"
            type="button"
            data-bs-dismiss="modal"
            class="btn btn-outline-danger"
            id="btncancel"
            style="max-width: 300px"
          >
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>