USE CMS_Trailblazers
-- Insert Audit Trail
CREATE OR ALTER PROCEDURE [SP_InsertAudit]
    @TableId int,
    @ForTable int,
    @ActionDescription nvarchar(200),
	@LoggedBy nvarchar(50),
	@Status int
AS
BEGIN
    INSERT INTO AuditTrails(TableId,ForTable,ActionDescription,LogTime,LoggedBy,Status)
    VALUES (@TableId, @ForTable, @ActionDescription,getdate(),@LoggedBy,@Status);
END