<app-loader *ngIf="loading"></app-loader>
<h2 class="pt-3 fs-1">Addendum - Contracts</h2>

<div class="table-responsive p-md-5 p-3">
  <button class="add-btn btn btn-outline-primary mb-2" (click)="printToPDF('#table','CMS-addendum-records.pdf')">
    <i class="fa-solid fa-file-pdf"></i> Print to PDF
  </button>
  <app-table [data]="addAddendumContracts" [displayedColumns]="displayedColumns" [columnsInfo]="columnsInfo">
  </app-table>
</div>

<p *ngIf="addAddendumContracts.length == 0" class="text-center">No records</p>

<app-pagination [maxPage]="maxPage" [records]="this.addAddendumContracts.length" [pageNumbers]="pageNumbers"
    [GetPage]="GetPage.bind(this)"></app-pagination>

<ng-template #statusTemplateRef let-row>
    @if(row.approver3Status == 1){ <button class="btn btn-warning" disabled><b>Pending Approval</b></button> }
    @if(row.approver3Status == 2){ <button class="btn btn-success" disabled><b>Active</b></button> }
    @if(row.approver3Status == 3){ <button class="btn btn-danger" disabled><b>Rejected</b></button> }
    @if(row.approver3Status == 4){ <button class="btn btn-dark" disabled><b>Terminated</b></button> }
    @if(row.approver3Status == 5){ <button class="btn btn-secondary" disabled><b>Expired</b></button> }
    @if(row.approver3Status == 6){ <button class="btn btn-warning" disabled><b>Pending Termination</b></button> }
</ng-template>

<ng-template #actionTemplateRef let-row>
    <i class="fa-regular fa-eye icon" data-bs-toggle="modal" data-bs-target="#addendum-approve-reject" (click)="fetchAddedumData(row.addendumContractId)"></i>
</ng-template>

<div class="modal fade" id="addendum-approve-reject" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-between">
          <h1 style="color: whitesmoke;" class="modal-title fs-5 fw-bolder">Contract Addendum Details</h1>
          <button type="button" class="btn close-btn" data-bs-dismiss="modal" aria-label="Close"><i
              class="fa-solid fa-xmark"></i></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <p class="m-1">Contract Name</p>
            <div class="input-group">
              <span class="input-group-text"><b>{{addAddendumContract?.contractId}}</b></span>
              <input type="text" name="contractName" class="form-control" id="contractName"
                [value]="addAddendumContract?.contractName" disabled>
            </div>
          </div>

          <div class="mb-3">
            <p class="m-1">Department Name</p>
            <div class="input-group">
              <span class="input-group-text"><b>{{addAddendumContract?.departmentId}}</b></span>
              <input type="text" name="departmentName" class="form-control" id="departmentName"
                [value]="addAddendumContract?.departmentName" disabled>
            </div>
          </div>

          <div class="mb-3">
            <p class="m-1">Contract With Company Name</p>
            <div class="input-group">
              <span class="input-group-text"><b>{{addAddendumContract?.contractWithCompanyId}}</b></span>
              <input type="text" name="contractWithCompanyName" class="form-control" id="contractWithCompanyName"
                [value]="addAddendumContract?.contractWithCompanyName" disabled>
            </div>
          </div>

          <div class="mb-3">
            <p class="m-1">Contract Type Name</p>
            <div class="input-group">
              <span class="input-group-text"><b>{{addAddendumContract?.contractTypeId}}</b></span>
              <input type="text" name="contractTypeName" class="form-control" id="contractTypeName"
                [value]="addAddendumContract?.contractTypeName" disabled>
            </div>
          </div>

          <div class="mb-3">
            <p class="m-1">Apostille Type Name</p>
            <div class="input-group">
              <span class="input-group-text"><b>{{addAddendumContract?.apostilleTypeId}}</b></span>
              <input type="text" name="apostilleTypeName" class="form-control" id="apostilleTypeName"
                [value]="addAddendumContract?.apostilleTypeName" disabled>
            </div>
          </div>

          <div class="mb-3">
            <p class="m-1">Actual Document Reference No.</p>
            <div class="input-group">
              <span class="input-group-text"><i class="fa-solid fa-file-lines"></i></span>
              <input type="text" name="actualDocRefNo" class="form-control" id="actualDocRefNo"
                [value]="addAddendumContract?.actualDocRefNo" disabled>
            </div>
          </div>

          <div class="mb-3">
            <p class="m-1">Retainer Contract Type</p>
            <div class="input-group">
              <span class="input-group-text"><i class="fa-solid fa-file-invoice"></i></span>
              <input type="text" *ngIf="addAddendumContract?.retainerContract == 1" name="retainerContract"
                class="form-control" id="retainerContract" value="None" disabled>
              <input type="text" *ngIf="addAddendumContract?.retainerContract == 2" name="retainerContract"
                class="form-control" id="retainerContract" value="Weekly" disabled>
              <input type="text" *ngIf="addAddendumContract?.retainerContract == 3" name="retainerContract"
                class="form-control" id="retainerContract" value="Monthly" disabled>
              <input type="text" *ngIf="addAddendumContract?.retainerContract == 4" name="retainerContract"
                class="form-control" id="retainerContract" value="Quarterly" disabled>
              <input type="text" *ngIf="addAddendumContract?.retainerContract == 5" name="retainerContract"
                class="form-control" id="retainerContract" value="Yearly" disabled>
            </div>
          </div>

          <div class="mb-3">
            <p class="m-1">Terms & Conditions</p>
            <div class="input-group">
              <span class="input-group-text"><i class="fa-solid fa-receipt"></i></span>
              <textarea name="termsAndConditions" class="form-control" id="termsAndConditions"
                [value]="addAddendumContract?.termsAndConditions" disabled></textarea>
            </div>
          </div>

          <div class="mb-3">
            <p class="m-1">Valid From</p>
            <div class="input-group">
              <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
              <input type="datetime-local" name="validFrom" class="form-control" id="validFrom"
                [value]="addAddendumContract?.validFrom" disabled>
            </div>
          </div>

          <div class="mb-3">
            <p class="m-1">Valid Till</p>
            <div class="input-group">
              <span class="input-group-text"><i class="fa-solid fa-calendar-xmark"></i></span>
              <input type="datetime-local" name="validTill" class="form-control" id="validTill"
                [value]="addAddendumContract?.validTill" disabled>
            </div>
          </div>

          <div class="mb-3">
            <p class="m-1">Addendum Date</p>
            <div class="input-group">
              <span class="input-group-text"><i class="fa-solid fa-calendar-plus"></i></span>
              <input type="datetime-local" name="addendumDate" class="form-control" id="addendumDate"
                [value]="addAddendumContract?.addendumDate" disabled>
            </div>
          </div>

          <div class="mb-3">
            <p class="m-1">Employee Custodian Name</p>
            <div class="input-group">
              <span class="input-group-text"><b>{{addAddendumContract?.empCustodianId}}</b></span>
              <input type="text" name="empCustodianName" class="form-control" id="empCustodianName"
                [value]="addAddendumContract?.empCustodianName" disabled>
            </div>
          </div>

          <div class="mb-3">
            <p class="m-1">Location</p>
            <div class="input-group">
              <span class="input-group-text"><i class="fa-solid fa-location-dot"></i></span>
              <input type="text" name="location" class="form-control" id="location" [value]="addAddendumContract?.location"
                disabled>
            </div>
          </div>

          <div class="mb-3">
            <p class="m-1">Approver L1 Status</p>
            <div class="input-group">
              <span class="input-group-text"><i class="fa-solid fa-person-circle-check"></i><b>1</b></span>
              <input *ngIf="addAddendumContract?.approver1Status == 1" type="text" name="approver1Status"
                class="form-control" id="approver1Status" value="Pending Approval" style="background-color: #FFC107;"
                disabled>
              <input *ngIf="addAddendumContract?.approver1Status == 2" type="text" name="approver1Status"
                class="form-control" id="approver1Status" value="Active" style="background-color: greenyellow;"
                disabled>
              <input *ngIf="addAddendumContract?.approver1Status == 3" type="text" name="approver1Status"
                class="form-control" id="approver1Status" value="Rejected" style="background-color: orangered;"
                disabled>
              <input *ngIf="addAddendumContract?.approver1Status == 4" type="text" name="approver1Status"
                class="form-control" id="approver1Status" value="Terminated" disabled>
              <input *ngIf="addAddendumContract?.approver1Status == 5" type="text" name="approver1Status"
                class="form-control" id="approver1Status" value="Expired" style="background-color: darkgray;" disabled>
              <input *ngIf="addAddendumContract?.approver1Status == 6" type="text" name="approver1Status"
                class="form-control" id="approver1Status" value="Pending Termination" style="background-color: #FFC107;"
                disabled>
            </div>
          </div>

          <div class="mb-3">
            <p class="m-1">Approver L2 Status</p>
            <div class="input-group">
              <span class="input-group-text"><i class="fa-solid fa-person-circle-check"></i><b>2</b></span>
              <input *ngIf="addAddendumContract?.approver2Status == 1" type="text" name="approver2Status"
                class="form-control" id="approver2Status" value="Pending Approval" style="background-color: #FFC107;"
                disabled>
              <input *ngIf="addAddendumContract?.approver2Status == 2" type="text" name="approver2Status"
                class="form-control" id="approver2Status" value="Active" style="background-color: greenyellow;"
                disabled>
              <input *ngIf="addAddendumContract?.approver2Status == 3" type="text" name="approver2Status"
                class="form-control" id="approver2Status" value="Rejected" style="background-color: orangered;"
                disabled>
              <input *ngIf="addAddendumContract?.approver2Status == 4" type="text" name="approver2Status"
                class="form-control" id="approver2Status" value="Terminated" disabled>
              <input *ngIf="addAddendumContract?.approver2Status == 5" type="text" name="approver2Status"
                class="form-control" id="approver2Status" value="Expired" style="background-color: darkgray;" disabled>
              <input *ngIf="addAddendumContract?.approver2Status == 6" type="text" name="approver2Status"
                class="form-control" id="approver2Status" value="Pending Termination" style="background-color: #FFC107;"
                disabled>
            </div>
          </div>

          <div class="mb-3">
            <p class="m-1">Approver L3 Status</p>
            <div class="input-group">
              <span class="input-group-text"><i class="fa-solid fa-person-circle-check"></i><b>3</b></span>
              <input *ngIf="addAddendumContract?.approver3Status == 1" type="text" name="approver3Status"
                class="form-control" id="approver3Status" value="Pending Approval" style="background-color: #FFC107;"
                disabled>
              <input *ngIf="addAddendumContract?.approver3Status == 2" type="text" name="approver3Status"
                class="form-control" id="approver3Status" value="Active" style="background-color: greenyellow;"
                disabled>
              <input *ngIf="addAddendumContract?.approver3Status == 3" type="text" name="approver3Status"
                class="form-control" id="approver3Status" value="Rejected" style="background-color: orangered;"
                disabled>
              <input *ngIf="addAddendumContract?.approver3Status == 4" type="text" name="approver3Status"
                class="form-control" id="approver3Status" value="Terminated" disabled>
              <input *ngIf="addAddendumContract?.approver3Status == 5" type="text" name="approver3Status"
                class="form-control" id="approver3Status" value="Expired" style="background-color: darkgray;" disabled>
              <input *ngIf="addAddendumContract?.approver3Status == 6" type="text" name="approver3Status"
                class="form-control" id="approver3Status" value="Pending Termination" style="background-color: #FFC107;"
                disabled>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-dismiss="modal" *ngIf="approverCheck"
            (click)="approveRejectContract(addAddendumContract?.contractId, addAddendumContract?.addendumContractId,2)">Approve</button>
          <button class="btn btn-danger" data-bs-dismiss="modal" *ngIf="approverCheck"
            (click)="approveRejectContract(addAddendumContract?.contractId, addAddendumContract?.addendumContractId,3)">Reject</button>
          <button data-bs-dismiss="modal" class="btn btn-outline-danger">Close</button>
        </div>
      </div>
    </div>
  </div>