.fields-container{
    display: flex;
    flex-wrap: wrap;
}
.fields-container > div{
    flex-grow: 1;
    position: relative;
}
.fields-container > div > span{
    position: absolute;
    top: 20px;
    left: 15px;
    background: white;
    padding: 0 5px;
    color: red;
    font-size: 12px;
}
.card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5f5fee;
    color: whitesmoke;
}