<app-loader *ngIf="loading"></app-loader>
<h2 class="pt-3 fs-1">List Of Apostille</h2>

<!-- Angular Table  -->

<div class="px-md-5 px-3">
  <div class="searchheader row mb-2">
    <div class="col-12 col-sm-4 col-md-4 col-lg-3 mb-2 mb-sm-0">
      <button data-bs-toggle="modal" data-bs-target="#apostille-add" class="add-btn btn btn-outline-primary"
        (click)="addApostille()">
        <i class="fa-solid fa-file-circle-plus"></i> Add Apostille
      </button>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-3 mb-2 mb-sm-0">
    </div>
    <div class="col-12 col-sm-6 col-md-6">
      <input type="text" class="form-control" placeholder="Search by Apostille Name" [(ngModel)]="searchTerm"
        (keydown)="onFilterChange()" />
    </div>
  </div>
</div>

<app-table [data]="apostilles" [displayedColumns]="displayedColumns" [columnsInfo]="columnsInfo">
</app-table>

<app-pagination [maxPage]="maxPage" [records]="apostilles.length" [pageNumbers]="pageNumbers"
  [GetPage]="GetPage.bind(this)"></app-pagination>

<ng-template #statusRef let-row>{{ row.status == true ? 'Active' : 'Inactive' }}</ng-template>

<ng-template #actionRef let-row>
  <i class="fa-regular fa-pen-to-square icon" data-bs-toggle="modal" aria-label="Edit Apostille"
          data-bs-target="#apostille-add" (click)="editApostille(row.valueId)"></i>
        <i class="fa-regular fa-trash-can icon me-4" aria-label="Delete Apostille" title="Delete"
          (click)="deleteApostille(row.valueId)"></i>
</ng-template>


<!-- Add and Edit Status  -->
<div class="modal fade" id="apostille-add" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-between">
        <h1 class="modal-title fs-5 add-header">{{ mode==='add'? 'Add Apostille' : 'Edit Apostille' }}</h1>
        <button type="reset" class="btn close-btn" data-bs-dismiss="modal" aria-label="Close" (click)="resetForm()"><i
            class="fa-solid fa-xmark"></i></button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center">
          <form [formGroup]="addApostilleForm" (ngSubmit)="onSubmit()" *ngIf="mode!=='view'">
            <div class="fields-container">

              <div class="m-3">
                <label for="apostilleName" class="form-label">Apostille Name<span style="color: red;">*</span></label>
                <span *ngIf="apostilleName?.hasError('required') && (apostilleName?.dirty || apostilleName?.touched)"
                  style="color: red;">Required</span>
                <span *ngIf="apostilleName?.hasError('maxlength') && (apostilleName?.dirty || apostilleName?.touched)"
                  style="color: red;">Only 30 characters are allowed</span>
                <span *ngIf="apostilleName?.hasError('pattern') " style="color: red;">Only Smallcase and uppercase
                  alphabets are allowed</span>

                <input class="form-control" type="text" id="apostilleName" placeholder="Enter apostille name"
                  formControlName="apostilleName">
              </div>

              <div class="m-3">
                <label for="unit" class="form-label">Status<span style="color: red;">*</span></label>
                <span *ngIf="status?.hasError('required') && (status?.dirty || status?.touched)"
                  style="color: red;">Required</span>
                <select class="form-select" id="status" placeholder="Select status" formControlName="status">
                  <option value="">--Select Status--</option>
                  <option value="1">Active</option>
                  <option value="0">InActive</option>
                </select>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-outline-primary add-btn">{{mode==='add'? 'Save':'Update'}}</button>
                <button type="reset" class="btn btn-outline-danger" data-bs-dismiss="modal"
                  (click)="resetForm()">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>