.container{
    margin: 0px;
    display: flex;
    justify-content: flex-start;
}
h2 {
    color: #5f5fee;
    font-weight: 600;
    text-align: center;
}
thead tr, thead tr th{
    background-color: #5f5fee;
}
thead th{
    color: whitesmoke;
}
td{
    font-weight: 400;
    color: rgb(61, 61, 61);
}
.icon{
    cursor: pointer;
    display: inline-block;
    margin-left: 1rem;
}
.icon:hover{
    color: #5f5fee;
}
.page-link{
    color: #5f5fee;
    cursor: pointer;
}
.page-link:hover, .active{
    background-color: rgb(136, 136, 243);
    color: whitesmoke;
}
.active{
    background-color: #5f5fee;
    color: whitesmoke;
}

.addbtn{
    color: white;
    background-color:#5f5fee ;
    height:40px;
    padding: 5px;
    border-radius: 5px;
}

.tablefoot {
    display: flex;
}
  
.pagination {
    margin-left: 880px;
}

.totalapo{
    margin-left: 10px;
}