<app-loader *ngIf="loading"></app-loader>
<br>
<h2>List Of Apostille</h2>
<br>
<div class="container">
    <!-- Add Logic -->
     <div class="addbutton">
      
     </div>
</div>
    <!-- Table  -->
    <div *ngIf="!loading" class="table-responsive p-3">
        <table class="table align-middle table-bordered table-striped">
            <thead>
                <tr>
                    <th>ValueId</th>
                    <th>Apostille Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
               <tr *ngFor="let apostille of apostilles"> 
                    <td>{{apostille.valueId}}</td>
                    <td>{{apostille.apostilleName}}</td>
                    <td>{{apostille.status}}</td>
                    <td>
                        <i class="fa-solid fa-pen-to-square icon" title="Edit" (click)="editApostille(apostille)"></i>
                        <i class="fa-solid fa-eye icon" title="View" (click)="viewApostille(apostille)"></i>
                        <i class="fa-solid fa-trash icon" title="Delete" (click)="deleteApostille(apostille)"></i>
                    </td>
               </tr> 
            </tbody>
        </table>
    </div>
    <!-- Pagination -->
    <div class="tablefoot">
        <div class="d-flex justify-content-between align-items-center">
        <!-- Total Employees Count -->
            <div class="totalapo">
                <p>Total Apostilles: {{ totalApostilles }}</p>
            </div>
          <!-- Pagination -->
            <nav *ngIf="apostilles.length > 0" aria-label="Page navigation example">
            <ul *ngIf="maxPage >= 1" class="pagination">
              <li *ngIf="maxPage > 3" class="page-item" (click)="GetPage(1)">
                <span class="page-link" aria-label="FirstPage">&laquo;</span>
              </li>
              <li *ngIf="maxPage > 1" class="page-item" (click)="GetPage(pageNumbers[0] - 1)">
                <span class="page-link" aria-label="Previous">&lsaquo;</span>
              </li>
              <li class="page-item" (click)="GetPage(pageNumbers[1])">
                <span [class]="pageNumbers[0] == pageNumbers[1] ? 'page-link active' : 'page-link'">{{ pageNumbers[1] }}</span>
              </li>
              <li *ngIf="maxPage > 1" class="page-item" (click)="GetPage(pageNumbers[2])">
                <span [class]="pageNumbers[0] == pageNumbers[2] ? 'page-link active' : 'page-link'">{{ pageNumbers[2] }}</span>
              </li> 
              <li *ngIf="maxPage > 2" class="page-item" (click)="GetPage(pageNumbers[3])">
                <span [class]="pageNumbers[0] == pageNumbers[3] ? 'page-link active' : 'page-link'">{{ pageNumbers[3] }}</span>
              </li>
              <li *ngIf="maxPage > 3" class="page-item" (click)="GetPage(pageNumbers[4])">
                <span [class]="pageNumbers[0] == pageNumbers[4] ? 'page-link active' : 'page-link'">{{ pageNumbers[4] }}</span>
              </li>
              <li *ngIf="maxPage > 4" class="page-item" (click)="GetPage(pageNumbers[5])">
                <span [class]="pageNumbers[0] == pageNumbers[5] ? 'page-link active' : 'page-link'">{{ pageNumbers[5] }}</span>
              </li>
              <li *ngIf="maxPage > 1" class="page-item" (click)="GetPage(pageNumbers[0] + 1)">
                <span class="page-link" aria-label="Next">&rsaquo;</span>
              </li>
              <li *ngIf="maxPage > 3" class="page-item" (click)="GetPage(maxPage)">
                <span class="page-link" aria-label="LastPage">&raquo;</span>
              </li>
            </ul>
          </nav>
        </div>
    </div>
  