h2 {
    color: var(--heading-font-color);
    font-weight: 600;
    text-align: center;
}
.icon{
    cursor: pointer;
    display: inline-block;
    margin-left: 1rem;
}
.icon:hover{
    color: #5f5fee;
}
.modal-header{
    border:2px solid var(--table-side-border-color);
    background-color: var(--btn-theme-toggle-color);
}
.modal-title{
    color: var(--btn-theme-toggle-color);
}
.modal-body{
    background-color: var(--filter-theme-toggle-color);
}
.close-btn{
    border-color: whitesmoke;
    color: whitesmoke;
}
.close-btn:hover{
    background-color: whitesmoke;
    color: var(--btn-theme-toggle-color);
}
.form-control:focus{
    box-shadow: none;
    border-color: #dee2e6;
}

.no-records {
    color: var(--heading-font-color);
}