<app-loader *ngIf="loading"></app-loader>
<h2 class="pt-3 fs-1">All Notifications</h2>

<app-table [data]="notifications" [displayedColumns]="displayedColumns" [columnsInfo]="columnsInfo"></app-table>
<p class="no-records fs-5" *ngIf="notifications.length == 0" style="text-align: center;">No records</p>
<app-pagination [maxPage]="maxPage" [records]="this.notifications.length" [pageNumbers]="pageNumbers"
[GetPage]="GetPage.bind(this)"></app-pagination>

<ng-template #actionRef let-row>
 <i [ngStyle]="row.isRead ? null :{'color':'#5f5fee'}" class="fa-regular fa-eye icon" data-bs-toggle="modal" data-bs-target="#notification-detail"
          (click)="SeeNotificationDetails(row.valueId)"></i>
 <i  class="fa-solid fa-trash icon" (click)="DeleteNotification(row.valueId)"></i>
</ng-template>
<ng-template #notifDate let-row>
    {{ row.notificationDate | date :'dd-MM-yyyy  hh:mm:ss a'}}
</ng-template>
<div class="modal fade" id="notification-detail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-between">
        <h1 style="color: whitesmoke;" class="modal-title fs-5 fw-bolder">Notification Details</h1>
        <button type="button" class="btn close-btn" data-bs-dismiss="modal" aria-label="Close" (click)="GetAllNotifications(currentPage,10)"><i class="fa-solid fa-xmark"></i></button>
      </div>
      <div class="modal-body">
        <p class="m-1">Notification Date</p>
        <div class="mb-3">
          <div class="input-group">
              <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
              <input type="datetime" name="notificationDate" class="form-control" id="notificationDate" [value]="notification != undefined ? notification.notificationDate : ''" disabled>
          </div>
        </div>
        <p class="m-1">Notification Subject</p>
        <div class="mb-3">
          <div class="input-group">
              <span class="input-group-text"><i class="fa-solid fa-bell"></i></span>
              <textarea name="notficationSubject" class="form-control" id="notficationSubject" [value]="notification != undefined ? notification.notficationSubject : ''" disabled></textarea>
          </div>
        </div>
        <p class="m-1">Notification Message</p>
        <div class="mb-3">
          <div class="input-group">
              <span class="input-group-text"><i class="fa-solid fa-message"></i></span>
              <textarea type="text" name="notficationMessage" class="form-control" id="notficationMessage" [value]="notification != undefined ? notification.notficationMessage : '0'" disabled></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>