.page-link{
    color: var(--btn-theme-toggle-color);
    cursor: pointer;
}
.page-link:hover, .active{
    background-color: var(--pagenation-hover);
    color: whitesmoke;
}
.active{
    background-color: var(--btn-theme-toggle-color);
    color: whitesmoke;
}