h2 {
    color: #5f5fee;
    font-weight: 600;
    text-align: center;
}
.thead{
    background-color: #5f5fee;
    border-top-color: #5f5fee;
    border-bottom-color: #5f5fee;
}
.mat-header-cell {
    color: white;
}
.icon{
    cursor: pointer;
    display: inline-block;
    margin-left: 1rem;
}
.icon:hover{
    color: #5f5fee;
}
.page-link{
    color: #5f5fee;
    cursor: pointer;
}
.page-link:hover, .active{
    background-color: rgb(136, 136, 243);
    color: whitesmoke;
}
.active{
    background-color: #5f5fee;
    color: whitesmoke;
}
.modal-header{
    border-color: #5f5fee;
    background-color: #5f5fee;
}
.modal-title{
    color: #5f5fee;
}
.close-btn{
    border-color: whitesmoke;
    color: whitesmoke;
}
.close-btn:hover{
    background-color: whitesmoke;
    color: #5f5fee;
}
.dropdown-input{
    background-color: white;
    border-right: 0;
}
.dropdown-icon{
    background-color: white;
    border-left: 0;
}
.dropdown-btn{
    text-align: start;
    border-color: #dee2e6;
}
.dropdown-btn:hover{
    color: #5f5fee;
    border-color: #5f5fee ;
}
.form-control:focus{
    box-shadow: none;
    border-color: #dee2e6;
}
.add-btn {
    color: rgba(95, 95, 238);
    background-color: whitesmoke;
    border-color: #5f5fee;
}
.add-btn:hover{
    background-color: #5f5fee;
    border-color: whitesmoke;
    color: whitesmoke;
    border-radius: 5px;
}
.add-header {
    color: whitesmoke;
    font-weight: 600;
}
.searchheader{
    /* margin: ; */
    /* display: flex; */
    /* gap: 1.5rem; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/* .searchheader input {
    margin-bottom: 0.5%;
    margin-left: 1%;
    width: 50%;
    align-items: center;
} */