<app-loader *ngIf="loading"></app-loader>
<h2 class="mt-3">Company Master</h2>
<div *ngIf="!loading" class="table-responsive p-3">
    <button class="add-btn btn btn-outline-primary mb-2 me-3">
      <a routerLink="addCompany"><i class="fa-solid fa-file-circle-plus"></i> Add New Company </a>
    </button>
    <input type="text"  placeholder="Search by Company name" class="searchbox w-25    d-inline-block me-2" [(ngModel)]="searchTerm" (keyup)="onFilterChange()"/>
      <table class="table align-middle table-bordered table-striped">
        <thead>
          <tr>
              <th>Value Id</th>
              <th>Company Name</th>
              <th>Company Location</th>
              <th>Status</th>
              <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let company of showCompanies">
              <td>{{company.valueId}}</td>
              <td>{{company.companyName}}</td>   
              <td>{{company.companyLocation}}</td>
              <td>{{company.status}}</td>
              <td>
                <i class="fa-regular fa-pen-to-square icon me-4"  (click)="GetCompany(company.valueId)"></i>
                <i class="fa-regular fa-eye icon me-4" data-bs-toggle="modal" data-bs-target="#company-detail" (click)="GetCompany(company.valueId)"></i>
                <i class="fa-regular fa-trash-can icon me-4"  (click)="deleteCompany(company.valueId)"></i>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
    <nav class="d-flex justify-content-center" *ngIf="showCompanies.length > 0" aria-label="Page navigation example">
        <ul *ngIf="maxPage > 1" class="pagination">
          <li *ngIf="maxPage > 5" class="page-item" (click)="GetPage(1)"><span class="page-link" aria-label="FirstPage">&laquo;</span></li>
          <li *ngIf="maxPage > 5" class="page-item" (click)="GetPage(pageNumbers[0] - 1)"><span class="page-link" aria-label="Previous">&lsaquo;</span></li>
          <li class="page-item" (click)="GetPage(pageNumbers[1])"><span [class]="pageNumbers[0] == pageNumbers[1] ? 'page-link active' : 'page-link'">{{pageNumbers[1]}}</span></li>
          <li *ngIf="maxPage > 1" class="page-item" (click)="GetPage(pageNumbers[2])"><span [class]="pageNumbers[0] == pageNumbers[2] ? 'page-link active' : 'page-link'">{{pageNumbers[2]}}</span></li>
          <li *ngIf="maxPage > 2" class="page-item" (click)="GetPage(pageNumbers[3])"><span [class]="pageNumbers[0] == pageNumbers[3] ? 'page-link active' : 'page-link'">{{pageNumbers[3]}}</span></li>
          <li *ngIf="maxPage > 3" class="page-item" (click)="GetPage(pageNumbers[4])"><span [class]="pageNumbers[0] == pageNumbers[4] ? 'page-link active' : 'page-link'">{{pageNumbers[4]}}</span></li>
          <li *ngIf="maxPage > 4" class="page-item" (click)="GetPage(pageNumbers[5])"><span [class]="pageNumbers[0] == pageNumbers[5] ? 'page-link active' : 'page-link'">{{pageNumbers[5]}}</span></li>
          <li *ngIf="maxPage > 5" class="page-item" (click)="GetPage(pageNumbers[0] + 1)"><span class="page-link" aria-label="Next">&rsaquo;</span></li>
          <li *ngIf="maxPage > 5" class="page-item" (click)="GetPage(maxPage)"><span class="page-link" aria-label="LastPage">&raquo;</span></li>
        </ul>
      </nav>

     

<!-- Modal for Viewing Company  Details -->
<div class="modal fade" id="company-detail" tabindex="-1" aria-labelledby="companyDetailLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="companyDetailLabel">Contract Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>Value ID: </strong> {{ comp?.valueId }}</p>
        <p><strong>Company Name: </strong> {{ comp?.companyName }}</p>
        <p><strong>PocName: </strong> {{ comp?.pocName }}</p>
        <p><strong>companyStatus: </strong>{{comp?.companyStatus}}</p>
        <p><strong>PocContactNumber:</strong>{{comp?.pocContactNumber}}</p>
        <p><strong>PocEmailId: </strong>{{comp?.pocEmailId}}</p>
        <p><strong>CompanyAddressLine1: </strong>{{comp?.companyAddressLine1}}</p>
        <p><strong>CompanyAddressLine2: </strong>{{comp?.companyAddressLine2}}</p>
        <p><strong>CompanyAddressLine3: </strong>{{comp?.companyAddressLine3}}</p>
        <p><strong>Zipcode: </strong>{{comp?.zipcode}}</p>
        <p><strong>CompanyContactNo: </strong>{{comp?.companyContactNo}}</p>
        <p><strong>CompanyEmailId: </strong>{{comp?.companyEmailId}}</p>
        <p><strong>CompanyWebsiteUrl: </strong>{{comp?.companyWebsiteUrl}}</p>
        <p><strong>CompanyBankName: </strong>{{comp?.companyBankName}}</p>
        <p><strong>GSTno: </strong>{{comp?.gSTno}}</p>
        <p><strong>BankAccNo: </strong>{{comp?.bankAccNo}}</p>
        <p><strong>MSMERegistrationNo: </strong>{{comp?.mSMERegistrationNo}}</p>
        <p><strong>IFSCCode: </strong>{{comp?.iFSCCode}}</p>
        <p><strong>PanNo: </strong>{{comp?.panNo}}</p>
        <p><strong>CountryId: </strong>{{comp?.countryId}}</p>
        <p><strong>StateId: </strong>{{comp?.stateId}}</p>
        <p><strong>CityId: </strong>{{comp?.cityId}}</p>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
