h2 {
    color: var(--heading-font-color);
    font-weight: 600;
    text-align: center;
}
.thead{
    background-color: #5f5fee;
    border-top-color: #5f5fee;
    border-bottom-color: #5f5fee;
}
.mat-header-cell {
    color: white;
}
.icon{
    cursor: pointer;
    display: inline-block;
    margin-left: 1rem;
}
.icon:hover{
    color: #5f5fee;
}
.page-link{
    color: #5f5fee;
    cursor: pointer;
}
.page-link:hover, .active{
    background-color: rgb(136, 136, 243);
    color: whitesmoke;
}
.active{
    background-color: #5f5fee;
    color: whitesmoke;
}
.modal-header{
    border: 2px solid var(--table-side-border-color);
    background-color: var(--btn-theme-toggle-color);
}
.modal-title{
    color: #5f5fee;
}
.close-btn{
    border-color: whitesmoke;
    color: whitesmoke;
}
.close-btn:hover{
    background-color: whitesmoke;
    color: #5f5fee;
}
.dropdown-input{
    background-color: white;
    border-right: 0;
}
.dropdown-icon{
    background-color: white;
    border-left: 0;
}
.dropdown-btn{
    text-align: start;
    border-color: #dee2e6;
}
.dropdown-btn:hover{
    color: #5f5fee;
    border-color: #5f5fee ;
}
.form-control:focus{
    box-shadow: none;
    border-color: #dee2e6;
}
.add-btn {
    color: var(--btn-theme-toggle-color);
    background-color: whitesmoke;
    border-color: var(--btn-theme-toggle-color);
}
.add-btn:hover{
  background-color: var(--btn-theme-toggle-color);
    border-color: whitesmoke;
    color: whitesmoke;
    border-radius: 5px;
}
.add-header {
    color: whitesmoke;
    font-weight: 600;
}
.searchheader{
    /* margin: ; */
    /* display: flex; */
    /* gap: 1.5rem; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/* .searchheader input {
    margin-bottom: 0.5%;
    margin-left: 1%;
    width: 50%;
    align-items: center;
} */
.ng-select.custom {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #eeeeee;
  border-radius: 26px;
  height: auto;
  min-height: 40px;
  width: 632px;
  max-width: 100%;
  background-color: #ffffff;
  color: #888888;
  outline: none;
  font-weight: 300;
  
  padding: 0px 0px;
  text-align: left;
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    background-color: #5f5fee;
    /* border-radius: 26px; */
    padding: 5px 15px;
    color: #ffffff;
    font-weight: 600;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon {
    color: #ffffff;
    padding-right: 5px;
    padding-left: 5px;
}

.ng-select .ng-arrow-wrapper .ng-arrow {
    display: none;
}

.ng-select span.ng-arrow-wrapper:before {
    content: "\f0ab";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}