<div id="classifiedContract-screen">
  <a routerLink="/classifiedContract/createNewClassifiedContract">
    <div class="card m-3" style="width: 18rem">
      <div class="card-body">
        Create New Contract
        <i class="fa-solid fa-users icon"></i>
      </div>
    </div>
  </a>
  <a routerLink="/classifiedContracts/allContracts">
    <div class="card m-3" style="width: 18rem">
      <div class="card-body">
        Contracts-List
        <i class="fa-solid fa-users icon"></i>
      </div>
    </div>
  </a>
</div>
