/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.swal2-timer-progress-bar {
    background-color: rgba(95, 95, 238, 1);
}