<div class="modal fade" id="Termination-Notice-Detail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between">
                <h1 style="color: whitesmoke" class="modal-title fs-5 fw-bolder">
                    Post Termination Notice
                </h1>
                <button type="button" class="btn close-btn" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <form #documentForm="ngForm" (ngSubmit)="OnSavePostTermination(documentForm)">
                    <div class="mb-3">
                        <p class="m-1">
                            Upload Termination Notice<span style="color: red">*</span>
                        </p>
                        <div class="input-group">
                            <input #addFile type="file" name="file" class="form-control" id="file"
                                (change)="uploadFile($event)" accept=".pdf" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <p class="m-1">
                            End date
                        </p>
                        <div class="input-group">
                            <input type="date" name="end_Date" class="form-control" id="end_Date" min="0" max="30"
                                placeholder="Enter number of days" [(ngModel)]="postTerm.end_Date" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <p class="m-1">
                            Notice Duration
                        </p>
                        <div class="input-group">
                            <input type="number" name="notice_Duration" class="form-control" id="notice_Duration"
                                min="0" placeholder="Enter the end date" [(ngModel)]="postTerm.notice_Duration" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <p class="m-1">
                            Remark <span style="color: red">*</span>
                            <span *ngIf="!postTerm.Remark || postTerm.Remark.length <= 0"
                                style="color: red">Required</span>
                        </p>
                        <div class="input-group">
                            <textarea name="Remark" class="form-control" id="Remark" rows="4"
                                placeholder="Enter remarks" [(ngModel)]="postTerm.Remark"></textarea>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn add-btn btn-outline-primary" type="submit">
                            Save
                        </button>
                        <button class="btn btn-outline-danger" type="reset" data-bs-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>